<div class="datalist-city">
    <div class="search-result pl-4">
        <a href="" class="search-result-item block text mt-2">Екатеринбург</a>
        <a href="" class="search-result-item block text mt-2 active">Москва</a>
        <a href="" class="search-result-item block text mt-2">Краснодар</a>
        <a href="" class="search-result-item block text mt-2">Нижний Новгород</a>
        <a href="" class="search-result-item block text mt-2">Новосибирск</a>
        <a href="" class="search-result-item block text mt-2">Ростов-на-Дону</a>
        <a href="" class="search-result-item block text mt-2">Самара</a>
        <a href="" class="search-result-item block text mt-2">Санкт-Петербург</a>
        <a href="" class="search-result-item block text mt-2">Уфа</a>
        <a href="" class="search-result-item block text mt-2">Челябинск</a>
        <a href="" class="search-result-item block text mt-2">Екатеринбург</a>
        <a href="" class="search-result-item block text mt-2">Краснодар</a>
        <a href="" class="search-result-item block text mt-2">Нижний Новгород</a>
        <a href="" class="search-result-item block text mt-2">Новосибирск</a>
        <a href="" class="search-result-item block text mt-2">Ростов-на-Дону</a>
        <a href="" class="search-result-item block text mt-2">Самара</a>
        <a href="" class="search-result-item block text mt-2">Санкт-Петербург</a>
        <a href="" class="search-result-item block text mt-2">Уфа</a>
        <a href="" class="search-result-item block text mt-2">Челябинск</a>
    </div>
</div>