<div class="reviews-photo flex items-center flex-wrap">
    <div class="reviews-photo_add flex items-center justify-center mr-3 mb-2 cursor-pointer svg-block">
        {{> ../_images/photo }}
    </div>
    <div class="reviews-photo_item flex items-center justify-center mr-3 mb-2 cursor-pointer"><img src="../../images/product-1.png" alt="product" class="image-contain" /></div>
    <div class="reviews-photo_item flex items-center justify-center mr-3 mb-2 cursor-pointer"><img src="../../images/product-1.png" alt="product" /></div>
    <div class="reviews-photo_item flex items-center justify-center mr-3 mb-2 cursor-pointer"><img src="../../images/product-1.png" alt="product" /></div>
    <div class="reviews-photo_item flex items-center justify-center mr-3 mb-2 cursor-pointer"><img src="../../images/product-1.png" alt="product" /></div>
    <div class="reviews-photo_item flex items-center justify-center mb-2 cursor-pointer"><img src="../../images/product-1.png" alt="product" /></div>
</div>