<div class="app-select w-full h-full bg-white border-radius-10 relative js--app-select">
    <div class="app-select__title flex items-center justify-between w-full cursor-pointer js--app-select-title">
        <span class="text-sm">Выберите цвет</span>
        {{> ../_images/arrow }}
    </div>
    <div class="app-select__content w-full bg-white border-radius-10 overflow-hidden py-[10px] js--app-select-content">
        <input id="sel_color_1" type="radio" name="user_color" class="hidden" value="Черный"  />
        <label for="sel_color_1" class="block text-sm w-full px-2 py-1 cursor-pointer hover:bg-grey3">
            Черный
        </label>
    </div>
</div>