<div class="app-select w-full h-full bg-white border-radius-10 relative js--app-select">
    <div class="app-select__title flex items-center justify-between w-full cursor-pointer js--app-select-title">
        <span class="text-sm">Выберите размер</span>
        {{> ../_images/arrow }}
    </div>
    <div class="app-select__content w-full bg-white border-radius-10 overflow-hidden py-[10px] js--app-select-content">
        <input id="sel_size_1" type="radio" name="user_size" class="hidden" value="40/42 RUS"  />
        <label for="sel_size_1" class="block text-sm w-full px-2 py-1 cursor-pointer hover:bg-grey3">
            40/42 RUS
        </label>

        <input id="sel_size_2" type="radio" name="user_size" class="hidden" value="42 RUS"  />
        <label for="sel_size_2" class="block text-sm w-full px-2 py-1 cursor-pointer hover:bg-grey3">
            42 RUS
        </label>

        <input id="sel_size_3" type="radio" name="user_size" class="hidden" value="42/44 RUS"  />
        <label for="sel_size_3" class="block text-sm w-full px-2 py-1 cursor-pointer hover:bg-grey3">
            42/44 RUS
        </label>
    </div>
</div>