<div class="app-accordion app-accordion--question js--accordion js--accordion-column w-full">
    <div class="app-accordion__row js--accordion-wrap border border-solid border-grey rounded-[10px] overflow-hidden">
        <div class="app-accordion__title flex justify-between items-center js--accordion-button w-full px-[12px] py-[16px] cursor-pointer">
            <p class="text-big flex items-center">
                Вопрос 1
            </p>
            <div class="svg-block cursor-pointer w-max app-accordion__arrow">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.00004 4.66714L1.33333 0.000488281L0 1.33382L6.00004 7.33389L12 1.33382L10.6667 0.000488281L6.00004 4.66714Z" fill="#363845"/>
                </svg>
            </div>
        </div>
        <div class="app-accordion__content js--accordion-content">
            <div class="p-[16px]">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo libero accusamus inventore natus vitae quos id provident alias? Voluptate fugiat amet in omnis animi suscipit dicta molestias dolorum officia voluptatibus, aperiam adipisci recusandae delectus nesciunt, natus non quasi velit hic ratione a culpa id nemo eos tenetur. Optio, iste esse temporibus doloremque aut facere, ratione maiores placeat officiis itaque enim? Ipsa, perspiciatis. Vero fuga, accusamus rerum dicta sequi consequatur asperiores sit possimus voluptatibus quisquam? Exercitationem dolore autem officiis corrupti non, provident magnam ut quibusdam quod quo id, praesentium libero repellendus maiores? Molestiae amet nostrum non obcaecati iste ea modi accusantium!</p>
            </div>
        </div>
    </div>
    <div class="app-accordion__row js--accordion-wrap border border-solid border-grey rounded-[10px] overflow-hidden mt-2">
        <div class="app-accordion__title flex justify-between items-center js--accordion-button w-full px-[12px] py-[16px] cursor-pointer">
            <p class="text-big flex items-center">
                Вопрос 2
            </p>
            <div class="svg-block cursor-pointer w-max app-accordion__arrow">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.00004 4.66714L1.33333 0.000488281L0 1.33382L6.00004 7.33389L12 1.33382L10.6667 0.000488281L6.00004 4.66714Z" fill="#363845"/>
                </svg>
            </div>
        </div>
        <div class="app-accordion__content js--accordion-content">
            <div class="p-[16px]">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo libero accusamus inventore natus vitae quos id provident alias? Voluptate fugiat amet in omnis animi suscipit dicta molestias dolorum officia voluptatibus, aperiam adipisci recusandae delectus nesciunt, natus non quasi velit hic ratione a culpa id nemo eos tenetur. Optio, iste esse temporibus doloremque aut facere, ratione maiores placeat officiis itaque enim? Ipsa, perspiciatis. Vero fuga, accusamus rerum dicta sequi consequatur asperiores sit possimus voluptatibus quisquam? Exercitationem dolore autem officiis corrupti non, provident magnam ut quibusdam quod quo id, praesentium libero repellendus maiores? Molestiae amet nostrum non obcaecati iste ea modi accusantium!</p>
            </div>
        </div>
    </div>
    <div class="app-accordion__row js--accordion-wrap border border-solid border-grey rounded-[10px] overflow-hidden mt-2">
        <div class="app-accordion__title flex justify-between items-center js--accordion-button w-full px-[12px] py-[16px] cursor-pointer">
            <p class="text-big flex items-center">
                Вопрос 3
            </p>
            <div class="svg-block cursor-pointer w-max app-accordion__arrow">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.00004 4.66714L1.33333 0.000488281L0 1.33382L6.00004 7.33389L12 1.33382L10.6667 0.000488281L6.00004 4.66714Z" fill="#363845"/>
                </svg>
            </div>
        </div>
        <div class="app-accordion__content js--accordion-content">
            <div class="p-[16px]">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo libero accusamus inventore natus vitae quos id provident alias? Voluptate fugiat amet in omnis animi suscipit dicta molestias dolorum officia voluptatibus, aperiam adipisci recusandae delectus nesciunt, natus non quasi velit hic ratione a culpa id nemo eos tenetur. Optio, iste esse temporibus doloremque aut facere, ratione maiores placeat officiis itaque enim? Ipsa, perspiciatis. Vero fuga, accusamus rerum dicta sequi consequatur asperiores sit possimus voluptatibus quisquam? Exercitationem dolore autem officiis corrupti non, provident magnam ut quibusdam quod quo id, praesentium libero repellendus maiores? Molestiae amet nostrum non obcaecati iste ea modi accusantium!</p>
            </div>
        </div>
    </div>
    <div class="app-accordion__row js--accordion-wrap border border-solid border-grey rounded-[10px] overflow-hidden mt-2">
        <div class="app-accordion__title flex justify-between items-center js--accordion-button w-full px-[12px] py-[16px] cursor-pointer">
            <p class="text-big flex items-center">
                Вопрос4
            </p>
            <div class="svg-block cursor-pointer w-max app-accordion__arrow">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.00004 4.66714L1.33333 0.000488281L0 1.33382L6.00004 7.33389L12 1.33382L10.6667 0.000488281L6.00004 4.66714Z" fill="#363845"/>
                </svg>
            </div>
        </div>
        <div class="app-accordion__content js--accordion-content">
            <div class="p-[16px]">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo libero accusamus inventore natus vitae quos id provident alias? Voluptate fugiat amet in omnis animi suscipit dicta molestias dolorum officia voluptatibus, aperiam adipisci recusandae delectus nesciunt, natus non quasi velit hic ratione a culpa id nemo eos tenetur. Optio, iste esse temporibus doloremque aut facere, ratione maiores placeat officiis itaque enim? Ipsa, perspiciatis. Vero fuga, accusamus rerum dicta sequi consequatur asperiores sit possimus voluptatibus quisquam? Exercitationem dolore autem officiis corrupti non, provident magnam ut quibusdam quod quo id, praesentium libero repellendus maiores? Molestiae amet nostrum non obcaecati iste ea modi accusantium!</p>
            </div>
        </div>
    </div>
</div>