<div class="filter mt-[51px] md:mt-[65px] show-more js--show-more active" data-show-start="0">
    <div class="filter-top flex justify-between items-center w-full cursor-pointer show-more--btn js--show-more--btn">
        <p class="text-small">Фильтр с чекбоксами</p>
        {{> ../_images/arrow }}
    </div>
    <div class="content-to-hide js--show-more--content">
        <div class="filter-checkbox mt-2 ">
            <input type="checkbox" id="cb1"> <label for="cb1" class="w-full mb-2 cursor-pointer pl-5 relative inline-block">Ссылка 1 <span class="text-sm text-arrow">(6)</span></label>
            <input type="checkbox" id="cb2"> <label for="cb2" class="w-full mb-2 cursor-pointer pl-5 relative inline-block">Ссылка 2 <span class="text-sm text-arrow">(6)</span></label>
            <input type="checkbox" id="cb3"> <label for="cb3" class="w-full mb-2 cursor-pointer pl-5 relative inline-block">Ссылка 3 <span class="text-sm text-arrow">(6)</span></label>
            <input type="checkbox" id="cb4"> <label for="cb4" class="w-full mb-2 cursor-pointer pl-5 relative inline-block">Ссылка 4 <span class="text-sm text-arrow">(6)</span></label>
        </div>
    </div>
</div>

