<div class="filter mt-[53px] md:mt-[65px] show-more js--show-more active" data-show-start="0">
    <div class="filter-top flex justify-between items-center w-full cursor-pointer show-more--btn js--show-more--btn">
        <p class="text-small">Размер</p>
        {{> ../_images/arrow }}
    </div>
    <div class="content-to-hide js--show-more--content">
        <div class="filter-option mt-2 overflow-auto max-h-[246px]">
            <p class="text-tiny py-1">XS <span class="text-sm text-arrow">(6)</span></p>
            <p class="text-tiny py-1">S <span class="text-sm text-arrow">(8)</span></p>
            <p class="text-tiny py-1">M <span class="text-sm text-arrow">(15)</span></p>
            <p class="text-tiny py-1">L <span class="text-sm text-arrow">(3)</span></p>
            <p class="text-tiny py-1">XL <span class="text-sm text-arrow">(4)</span></p>
            <p class="text-tiny py-1">XXL <span class="text-sm text-arrow">(22)</span></p>
            <p class="text-tiny py-1">25 <span class="text-sm text-arrow">(6)</span></p>
            <p class="text-tiny py-1">26 <span class="text-sm text-arrow">(8)</span></p>
            <p class="text-tiny py-1">27 <span class="text-sm text-arrow">(8)</span></p>
            <p class="text-tiny py-1">28 <span class="text-sm text-arrow">(8)</span></p>
        </div>
    </div>
</div>

