<div class="filter show-more js--show-more active mt-[47px] md:mt-[52px]" data-show-start="0">
    <div class="filter-top flex justify-between items-center w-full cursor-pointer show-more--btn js--show-more--btn">
        <p class="text-small">Бренды</p>
        {{> ../_images/arrow }}
    </div>
    <div class="content-to-hide js--show-more--content">
        <div class="filter-search mt-2 flex items-center border border-solid border-grey100 rounded-[5px] p-[10px] hover:border-grey75 relative js--filter-search">
            <div class="cursor-pointer">
                {{> ../_images/search }}
            </div>
            <input type="text" placeholder="Введите название" class="ml-8 w-full h-full rounded-none">
            <div class="filter-search__option absolute bg-white w-full rounded-[10px] overflow-hidden hidden js--filter-search-option">
                <p class="px-3 py-2 text-sm hover:bg-grey3 cursor-pointer">Alternativa</p>
                <p class="px-3 py-2 text-sm hover:bg-grey3 cursor-pointer">Ancloth</p>
                <p class="px-3 py-2 text-sm hover:bg-grey3 cursor-pointer">Ariete</p>
            </div>
        </div>
        <div class="filter-option mt-2 overflow-auto max-h-[208px] md:max-h-[228px]">
            <p class="text-tiny py-1">Alternativa <span class="text-sm text-arrow">(6)</span></p>
            <p class="text-tiny py-1">Ancloth <span class="text-sm text-arrow">(8)</span></p>
            <p class="text-tiny py-1">Ariete <span class="text-sm text-arrow">(15)</span></p>
            <p class="text-tiny py-1">BBK <span class="text-sm text-arrow">(3)</span></p>
            <p class="text-tiny py-1">Beon <span class="text-sm text-arrow">(4)</span></p>
            <p class="text-tiny py-1">Binatone <span class="text-sm text-arrow">(22)</span></p>
            <p class="text-tiny py-1">Alternativa <span class="text-sm text-arrow">(6)</span></p>
            <p class="text-tiny py-1">Ancloth <span class="text-sm text-arrow">(8)</span></p>
            <p class="text-tiny py-1">Ariete <span class="text-sm text-arrow">(15)</span></p>
            <p class="text-tiny py-1">BBK <span class="text-sm text-arrow">(3)</span></p>
            <p class="text-tiny py-1">Beon <span class="text-sm text-arrow">(4)</span></p>
            <p class="text-tiny py-1">Binatone <span class="text-sm text-arrow">(22)</span></p>
        </div>
    </div>
</div>

