<div class="filter show-more js--show-more active" data-show-start="0">
    <div class="filter-top flex justify-between items-center w-full cursor-pointer show-more--btn js--show-more--btn">
        <p class="text-small">Тип</p>
        {{> ../_images/arrow }}
    </div>
    <div class="content-to-hide js--show-more--content">
        <div class="filter-option mt-2 overflow-auto max-h-[246px] sm:max-h-[256px]">
            <p class="text-tiny py-1">Узкие джинсы <span class="text-sm text-arrow">(6)</span></p>
            <p class="text-tiny py-1">Прямые джинсы <span class="text-sm text-arrow">(8)</span></p>
            <p class="text-tiny py-1">Широкие джинсы <span class="text-sm text-arrow">(15)</span></p>
            <p class="text-tiny py-1">Бойфренды <span class="text-sm text-arrow">(3)</span></p>
            <p class="text-tiny py-1">Джеггинсы <span class="text-sm text-arrow">(4)</span></p>
            <p class="text-tiny py-1">Джинсы-мом <span class="text-sm text-arrow">(22)</span></p>
            <p class="text-tiny py-1">Укороченные джинсы <span class="text-sm text-arrow">(6)</span></p>
            <p class="text-tiny py-1">Скинни <span class="text-sm text-arrow">(8)</span></p>
            <p class="text-tiny py-1">Узкие джинсы <span class="text-sm text-arrow">(6)</span></p>
            <p class="text-tiny py-1">Прямые джинсы <span class="text-sm text-arrow">(8)</span></p>
            <p class="text-tiny py-1">Широкие джинсы <span class="text-sm text-arrow">(15)</span></p>
            <p class="text-tiny py-1">Бойфренды <span class="text-sm text-arrow">(3)</span></p>
            <p class="text-tiny py-1">Джеггинсы <span class="text-sm text-arrow">(4)</span></p>
            <p class="text-tiny py-1">Джинсы-мом <span class="text-sm text-arrow">(22)</span></p>
            <p class="text-tiny py-1">Укороченные джинсы <span class="text-sm text-arrow">(6)</span></p>
            <p class="text-tiny py-1">Скинни <span class="text-sm text-arrow">(8)</span></p>
        </div>
    </div>
</div>

