<div class="filter mt-[46px] md:mt-[65px] show-more js--show-more active" data-show-start="0">
    <div class="filter-top flex justify-between items-center w-full cursor-pointer show-more--btn js--show-more--btn">
        <p class="text-small">Ссылочный фильтр</p>
        {{> ../_images/arrow }}
    </div>
    <div class="content-to-hide js--show-more--content">
        <div class="filter-option mt-2 ">
            <a href="" class="text-tiny py-1 block">Ссылка 1 <span class="text-sm text-arrow">(6)</span></a>
            <a href="" class="text-tiny py-1 block">Ссылка 2 <span class="text-sm text-arrow">(6)</span></a>
            <a href="" class="text-tiny py-1 block">Ссылка 3 <span class="text-sm text-arrow">(6)</span></a>
            <a href="" class="text-tiny py-1 block">Ссылка 4 <span class="text-sm text-arrow">(6)</span></a>
        </div>
    </div>
</div>

