<div class="filter show-more js--show-more active mt-[45px] md:mt-[54px]" data-show-start="0">
    <div class="filter-top flex justify-between items-center w-full cursor-pointer show-more--btn js--show-more--btn">
        <p class="text-small">Цвет</p>
        {{> ../_images/arrow }}
    </div>
    <div class="content-to-hide js--show-more--content">
        <div class="flex flex-col md:flex-row md:flex-wrap -mx-[7px] mt-3">
            {{> ../color/color color="#315284" color_text="Синий" color_text2="(6)"}}
            {{> ../color/color color="#181E26" color_text="Черный" color_text2="(8)"}}
            {{> ../color/color color="#EFF1F4" color_text="Свеетло-серый" color_text2="(6)"}}
            {{> ../color/color color="#B3B6BC" color_text="Cерый" color_text2="(8)"}}
            {{> ../color/color color="#86BCED" color_text="Голубой" color_text2="(6)"}}
            {{> ../color/color color="#B9AEA5" color_text="Коричневый" color_text2="(8)"}}
        </div>
    </div>
</div>

