<div class="filter show-more js--show-more" data-show-start="0">
    <div class="filter-top flex justify-between items-center w-full cursor-pointer show-more--btn js--show-more--btn">
        <div class="flex items-center">
            <p class="line-through text-small font-semibold">26 800</p>
            <p class="ml-2 text-small font-semibold">26 800</p>
            <p class="ml-2 bg-pink rounded-[4px] text-white px-1">-61%</p>
        </div>

        {{> ../_images/arrow }}
    </div>
    <div class="content-to-hide js--show-more--content">
        <div class="filter-option mt-2 overflow-auto max-h-[246px] sm:max-h-[256px] px-1">
            <div class="flex justify-between w-full">
                <p>Скидка Lamoda</p>
                <p class="text-pink"> −12 060 ₽</p>
            </div>
            <div class="flex justify-between w-full mt-1">
                <p>Промокод «SPRING24»</p>
                <p class="text-pink"> −4 422 ₽</p>
            </div>
            <div class="flex justify-between w-full mt-1">
                <p>Вы экономите</p>
                <p> 16 482 ₽</p>
            </div>
        </div>
    </div>
</div>

