<div class="relative flex items-center cursor-pointer svg-primary"  data-show-modal="overlay-favorite">
    {{> ../_images/like}}
    <div class="-ml-1 like-count text-white fz-small flex items-center justify-center text-center shrink-0 bg-pink w-[17px] h-[17px] border rounded-full">1</div>
</div>
