<div class="assessment flex flex-col mb:flex-row items-start mb:items-center mt-2 md:mt-3" data-assssmnt="">
    <p class="fz-text">Общая оценка</p>
    <input class="hidden" type="radio" name="assessment-reviews" />
    <div class="assessment-stars flex items-center justify-end mt-2 mb:mt-0">
        {{> star-assessment }}
        {{> star-assessment }}
        {{> star-assessment }}
        {{> star-assessment }}
        {{> star-assessment }}
    </div>
</div>