<div class="filter-color flex items-center mx-[7px] mb-2 md:rounded-full md:p-1 md:border md:border-solid md:border-grey100 cursor-pointer js--tooltip" data-tooltip-text="{{color_text}}" data-tooltip-position="bottom">
    <div class="w-9 h-9 md:w-[27px] md:h-[27px] rounded-full" style="background: {{color}}"></div>
    <p class="md:hidden ml-2">{{color_text}} <span class="text-grey50">{{color_text2}}</span></p>
</div>