<div class="footer-app mt-6">
    <div class="container py-5 relative">
        <div class="flex flex-col sm:flex-row sm:justify-between items-center">
            <div class="flex flex-col sm:flex-row-reserve sm:justify-between items-center ">
                <p class="fz-large footer-delivery ">Отслеживайте доставку
                    <span class="block sm:inline"></span>и оформляйте
                    <span class="sm:block"></span>посылки
                    <span class="font-bold block sm:inline">в новом мобильном приложении
                        <span class="block sm:inline md:block"></span> Boxberry</span>
                </p>
                <div class="footer-banner mt-5 sm:mt-0">
                    <img src="../../images/footer-baner.png" alt="banner" class="image-contain">
                </div>
            </div>
            <div class="flex flex-col sm:flex-row">
                <div class="footer-app__link flex sm:flex-col justify-center mt-5 sm:mt-0">
                    <a href="https://redirect.appmetrica.yandex.com/serve/459296288253432489?click_id={market_site_footer}" target="_blank" class="relative">
                        <img src="../../images/play-market.jpg" alt="play-market" class="block image-contain">
                    </a>
                    <a href="https://redirect.appmetrica.yandex.com/serve/315181103549862936?click_id={market_site_footer}" target="_blank" class="relative block sm:mt-1 ml-2 sm:ml-0">
                        <img src="../../images/app-store.jpg" alt="app-store" class="image-contain">
                    </a>
                    <a href="https://appgallery.huawei.com/#/app/C103283299" target="_blank" class="relative block sm:mt-1 ml-2 sm:ml-0">
                        <img src="../../images/app-gallery.jpg" alt="app-gallery" class="image-contain">
                    </a>
                </div>
                <div class="footer-app__qr sm:ml-4 flex items-center justify-between mt-5 sm:mt-0">
                    <p class="text">Кликните на QR-код <span class="block"></span>
                        для скачивания</p>
                    <img src="../../images/qr.png" alt="qr" data-show-modal="overlay-qr">
                </div>
            </div>
        </div>
    </div>
</div>