<div class="footer-menu mt-5 sm:pt-3 pb-5 sm:pb-6">
    <div class="flex flex-col sm:flex-row items-center sm:items-start w-full">
        <a href="/" class="footer-menu__logo flex shrink-0">
            <img src="../../images/logo.png" alt="logo" class="image-contain">
        </a>
        <div class="sm:ml-5 md:ml-6 md:pl-3 justify-center sm:justify-start w-full">
            <div class="flex justify-center sm:justify-start mt-5 sm:mt-0 w-full flex-wrap">
                <a href="" class="mr-2 lg:me-3 mb-1 text-tiny">О разделе</a>
                <a href="" class="mr-2 lg:me-3 mb-1 text-tiny">Добавить магазин</a>
                <a href="" class="mr-2 lg:me-3 mb-1 text-tiny">Доставка и возврат</a>
                <a href="" class="mr-2 lg:me-3 mb-1 text-tiny">Как сделать заказ</a>
                <a href="" class="mr-2 lg:me-3 mb-1 text-tiny">Оплата</a>
                <a href="" class="mr-2 text-tiny mb-1">Каталог интернет-магазинов</a>
                <a href="https://boxberry.ru/kontakty" class="text-tiny mb-1">Правообладателям</a>
            </div>
            <p class="fz-text text-greyDark mt-5 sm:mt-3">Каталог товаров от Boxberry - это площадка, где собраны предложения из более чем 300+ магазинов. Мы не продаем,
                <span class="lg:block"></span> а помогаем найти нужный вам товар - это бесплатно. Если вам необходима более подробная информация о каком-либо товаре,
                <span class="lg:block"></span>пожалуйста, задайте ваш вопрос непосредственно продавцу, контакты которого вы сможете найти на его сайте.</p>
        </div>
    </div>
</div>