<div class="container m-auto">
    <footer class="mt-6 md:pt-5 ">
        {{> footer-note }}
        {{> footer-app }}
        {{> footer-text }}
        {{> footer-menu }}
        {{> ../app-overlay/overlay-qr}}
    </footer>
</div>




