<div class="footer-note flex">
    <div class="hidden md:flex flex-shrink">
        {{> ../_images/note}}
    </div>

    <p class="sm:ml-3 fz-small text-greySecondary">Обратите внимание! Boxberry является информационным посредником (ст. 1253.1 ГК РФ). Если на нашем сайте были нарушены ваши интеллектуальные права, заполните
        <span class="md:block"></span>
      <a href="https://boxberry.ru/kontakty" class="text-greyDark fz-small"> форму обратной связи</a>  с прикреплением ссылок на страницы.</p>
</div>