<div class="footer-text w-100 flex flex-wrap mt-[60px] sm:mt-[40px] gap-2 sm:gap-[24px]">
    <div class="flex w-full md:w-[calc(50%-12px)] border border-solid border-grey100 p-2 sm:p-3">
        <div class="footer-text__images rounded-full p-[9px] bg-grey3 w-[50px] h-[50px] flex flex-center shrink-0">
            <img src="../../images/icon/car.svg" alt="brands" class="w-full h-full">
        </div>
        <div class="ml-2 sm:ml-3">
            <h3>Доставка</h3>
            <p class="mt-[6px] fz-text leading-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dolor voluptatem dignissimos eveniet, voluptate praesentium dolorem beatae sapiente fugiat, laborum esse tempore similique soluta facilis qui. Nulla assumenda earum impedit hic! Non sed asperiores officia sequi? Dolores rem tenetur dignissimos, repellendus reiciendis distinctio facilis earum quia, commodi dolorum aliquam. Hic beatae eveniet vitae ullam in, voluptatem, error repellendus dolores rem perferendis recusandae totam. Aspernatur optio nihil quidem dignissimos dolorum doloribus, quas totam explicabo sed doloremque necessitatibus, molestiae magni debitis. Illum veritatis temporibus debitis qui minus illo sit, ut, culpa sequi asperiores eveniet quidem omnis possimus iste error vel reiciendis. Facilis?</p>
        </div>
    </div>
    <div class="flex w-full md:w-[calc(50%-12px)] border border-solid border-grey100 p-2 sm:p-3">
        <div class="footer-text__images rounded-full p-[9px] bg-grey3 w-[50px] h-[50px] flex flex-center shrink-0">
            <img src="../../images/icon/pay.svg" alt="brands" class="w-full h-full">
        </div>
        <div class="ml-2 sm:ml-3">
            <h3>Оплата</h3>
            <p class="fz-text leading-normal mt-[6px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dolor voluptatem dignissimos eveniet, voluptate praesentium dolorem beatae sapiente fugiat, laborum esse tempore similique soluta facilis qui. Nulla assumenda earum impedit hic! Non sed asperiores officia sequi? Dolores rem tenetur dignissimos, repellendus reiciendis distinctio facilis earum quia, commodi dolorum aliquam. Hic beatae eveniet vitae ullam in, voluptatem, error repellendus dolores rem perferendis recusandae totam. Aspernatur optio nihil quidem dignissimos dolorum doloribus, quas totam explicabo sed doloremque necessitatibus, molestiae magni debitis. Illum veritatis temporibus debitis qui minus illo sit, ut, culpa sequi asperiores eveniet quidem omnis possimus iste error vel reiciendis. Facilis?</p>
        </div>
    </div>
    <div class="flex w-full md:w-[calc(50%-12px)] border border-solid border-grey100 p-2 sm:p-3">
        <div class="footer-text__images rounded-full p-[12px] bg-grey3 w-[50px] h-[50px] flex flex-center shrink-0">
            <img src="../../images/icon/checklist.svg" alt="brands" class="w-full h-full">
        </div>
        <div class="ml-2 sm:ml-3">
            <h3>Гарантия и возврат</h3>
            <p class="fz-text leading-normal mt-[6px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dolor voluptatem dignissimos eveniet, voluptate praesentium dolorem beatae sapiente fugiat, laborum esse tempore similique soluta facilis qui. Nulla assumenda earum impedit hic! Non sed asperiores officia sequi? Dolores rem tenetur dignissimos, repellendus reiciendis distinctio facilis earum quia, commodi dolorum aliquam. Hic beatae eveniet vitae ullam in, voluptatem, error repellendus dolores rem perferendis recusandae totam. Aspernatur optio nihil quidem dignissimos dolorum doloribus, quas totam explicabo sed doloremque necessitatibus, molestiae magni debitis. Illum veritatis temporibus debitis qui minus illo sit, ut, culpa sequi asperiores eveniet quidem omnis possimus iste error vel reiciendis. Facilis?</p>
        </div>
    </div>
    <div class="flex w-full md:w-[calc(50%-12px)] border border-solid border-grey100 p-2 sm:p-3">
        <div class="footer-text__images rounded-full p-[9px] bg-grey3 w-[50px] h-[50px] flex flex-center shrink-0">
            <img src="../../images/icon/shop.svg" alt="brands" class="w-full h-full">
        </div>
        <div class="ml-2 sm:ml-3">
            <h3>Boxberry Market</h3>
            <p class="fz-text leading-normal mt-[6px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dolor voluptatem dignissimos eveniet, voluptate praesentium dolorem beatae sapiente fugiat, laborum esse tempore similique soluta facilis qui. Nulla assumenda earum impedit hic! Non sed asperiores officia sequi? Dolores rem tenetur dignissimos, repellendus reiciendis distinctio facilis earum quia, commodi dolorum aliquam. Hic beatae eveniet vitae ullam in, voluptatem, error repellendus dolores rem perferendis recusandae totam. Aspernatur optio nihil quidem dignissimos dolorum doloribus, quas totam explicabo sed doloremque necessitatibus, molestiae magni debitis. Illum veritatis temporibus debitis qui minus illo sit, ut, culpa sequi asperiores eveniet quidem omnis possimus iste error vel reiciendis. Facilis?</p>
        </div>
    </div>
</div>