<ul class="ul-basic md:max-w-[290px] lg:max-w-[400px]">
    <li class="flex items-center fz-text">
        <p>Цвет:<span class="text-greyDark ml-1">черный</span></p>
        {{> ../app-tooltip/tooltip }}
    </li>
    <li class="flex items-center fz-text mt-3">
        <p>Диагональ:<span class="text-greyDark ml-1">48.5"</span></p>
    </li>
    <li class="flex items-center fz-text mt-3">
        <p>Разрешение:<span class="text-greyDark ml-1">hd4k uhd 3840x2160</span></p>
    </li>
    <li class="flex items-center fz-text mt-3">
        <p>дополнительные функции: <span class="text-greyDark ml-1">паровой удар, постоянная подача пара, система самоочистки, сухая глажка, функция разбрызгивания</span></p>
    </li>
    <li class="flex align-center fz-text mt-3">
        <p>Форматы:<span class="text-greyDark ml-1">hdr, hdr10, dolby vision</span></p>
    </li>
</ul>