<div class="w-full ul-grey list-characteristic">
    <div class="fz-text w-full flex justify-between items-center relative ul-grey_li">
        <span class="w-2/4">Диагональ экрана</span>
        <span class="text-greyDark w-2/4">126 см</span>
    </div>
    <div class="fz-text w-full flex justify-between items-center relative ul-grey_li mt-3">
        <div class="flex items-center w-2/4">
            <span>Ultra HD</span>
            {{> ../app-tooltip/tooltip }}
        </div>
        <span class="text-greyDark w-2/4">Да</span>
    </div>
    <div class="fz-text w-full flex justify-between items-center relative ul-grey_li mt-3">
        <div class="flex items-center w-2/4">
            <span>Экран</span>
            {{> ../app-tooltip/tooltip }}
        </div>
        <span class="text-greyDark w-2/4">50"/3840x2160 Пикс</span>
    </div>
    <div class="fz-text w-full flex justify-between items-center relative ul-grey_li mt-3">
        <span class="w-2/4">Тип технологии HDR</span>
        <span class="text-greyDark w-2/4">HDR10,HLG,Dolby Vision</span>
    </div>
    <div class="fz-text w-full flex justify-between items-center relative ul-grey_li mt-3">
        <span class="w-2/4">Частота обновления</span>
        <span class="text-greyDark w-2/4">60 Гц</span>
    </div>
    <div class="fz-text w-full flex justify-between items-center relative ul-grey_li mt-3">
        <span class="w-2/4">Формат экрана</span>
        <span class="text-greyDark w-2/4">16:9</span>
    </div>
    <div class="fz-text w-full flex justify-between items-center relative ul-grey_li mt-3">
        <span class="w-2/4">Технология экрана</span>
        <span class="text-greyDark w-2/4">TRILUMINOS PRO</span>
    </div>
    <div class="fz-text w-full flex justify-between items-center relative ul-grey_li mt-3">
        <span class="w-2/4">Масштабирование до 4K Ultra HD</span>
        <span class="text-greyDark w-2/4">Да</span>
    </div>
    <div class="fz-text w-full flex justify-between items-center relative ul-grey_li mt-3">
        <span class="w-2/4">Цифровое шумоподавление</span>
        <span class="text-greyDark w-2/4">Да</span>
    </div>
    <div class="fz-text w-full flex justify-between items-center relative ul-grey_li mt-3">
        <span class="w-2/4">Значение интерполяции</span>
        <span class="text-greyDark w-2/4">240</span>
    </div>
</div>