<div class="w-full ul-grey list-characteristic">
    <div class="fz-text w-full flex justify-between items-center relative ul-grey_li">
        <span class="w-2/4">Гарантия</span>
        <span class="fz-text text-greyDark w-2/4">1 год</span>
    </div>
    <div class="fz-text w-full flex justify-between items-center relative ul-grey_li mt-3">
        <span class="w-2/4">Страна</span>
        <span class="fz-text text-greyDark w-2/4">Малайзия</span>
    </div>
    <div class="fz-text w-full flex justify-between items-center relative ul-grey_li mt-3">
        <div class="flex items-center w-2/4">
            <span>Срок службы</span>
            {{> ../app-tooltip/tooltip }}
        </div>
        <span class="fz-text text-greyDark w-2/4">5 лет</span>
    </div>
    <div class="fz-text w-full flex justify-between items-center relative ul-grey_li mt-3">
        <span class="w-2/4">Серия</span>
        <span class="fz-text text-greyDark w-2/4">X81J</span>
    </div>
    <div class="fz-text w-full flex justify-between items-center relative ul-grey_li mt-3">
        <div class="flex items-center w-2/4">
            <span>Важная особенность</span>
            {{> ../app-tooltip/tooltip }}
        </div>
        <span class="fz-text text-greyDark w-2/4">Поддержка Dolby Vision / Atmos</span>
    </div>
    <div class="fz-text w-full flex justify-between items-center relative ul-grey_li mt-3">
        <span class="w-2/4">Обратите внимание</span>
        <span class="fz-text text-greyDark w-2/4">Фирменный процессор 4K HDR X1</span>
    </div>
    <div class="fz-text w-full flex justify-between items-center relative ul-grey_li mt-3">
        <span class="w-2/4">Удачное решение</span>
        <span class="fz-text text-greyDark w-2/4">Цветовой охват TRILUMINOS PRO</span>
    </div>
    <div class="fz-text w-full flex justify-between items-center relative ul-grey_li mt-3">
        <span class="w-2/4">Пользователи оценят</span>
        <span class="fz-text text-greyDark w-2/4">Динамик X-Balanced Speaker</span>
    </div>
    <div class="fz-text w-full flex justify-between items-center relative ul-grey_li mt-3">
        <span class="w-2/4">Хорошо придумано</span>
        <span class="fz-text text-greyDark w-2/4">Google TV c поддержкой AirPlay2</span>
    </div>
    <div class="fz-text w-full flex justify-between items-center relative ul-grey_li mt-3">
        <span class="w-2/4">Диагональ</span>
        <span class="fz-text text-greyDark w-2/4">50"</span>
    </div>
</div>