<div class="app-brands">
    <div class="app-brands-row flex flex-wrap justify-between">
        {{> brand brand_url="../../images/brands/1.png"}}
        {{> brand brand_url="../../images/brands/2.png"}}
        {{> brand brand_url="../../images/brands/3.png"}}
        {{> brand brand_url="../../images/brands/4.png"}}
        {{> brand brand_url="../../images/brands/5.png"}}
        {{> brand brand_url="../../images/brands/6.png"}}
        {{> brand brand_url="../../images/brands/4.png"}}
        {{> brand brand_url="../../images/brands/5.png"}}
        {{> brand brand_url="../../images/brands/6.png"}}
        {{> brand brand_url="../../images/brands/1.png"}}
        {{> brand brand_url="../../images/brands/2.png"}}
        <div class="app-brand flex items-center">
            <a href="" class="app-brands__link">Показать все</a>
        </div>
    </div>
</div>