<div class="brand-letter-sliders w-full">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#_letter_a">A</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_b">b</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_c">C</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_d">d</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_e">e</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_f">f</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_g">g</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_h">H</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_i">i</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_j">j</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_k">k</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_l">l</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_m">m</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_n">n</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_o">o</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_p">p</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_q">q</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_r">r</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_s">s</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_t">t</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_u">u</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_v">v</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_w">w</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_x">x</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_y">y</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_z">z</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_rus">a-Я</a>
            </div>
            <div class="swiper-slide">
                <a href="#_letter_num">0-9</a>
            </div>
        </div>
    </div>
    <div class="letter-hidden"></div>
</div>