<div class="brand-table__content-wrap content-to-hide js--show-more--content">
    <div class="w-full flex flex-wrap items-center ">
        <a href="">AmaroBaby</a>
        <a href="">Algologie</a>
        <a href="">Argo</a>
        <a href="">Amazing</a>
        <a href="">Argo Baby</a>
        <a href="">Аскона</a>
        <a href="">Альтернатива (Башпласт)</a>
        <a href="">Alivia Kids</a>
        <a href="">Andy & Helen</a>
        <a href="">Абсолют-Мебель</a>
    </div>
</div>
<p class="brand-table-more show-more--btn js--show-more--btn" data-more-show="Показать все" data-more-hidden="Скрыть">Показать все</p>