<div class="card-product w-full pb-5">
    <a href class="card-product__image w-full items-center justify-center">
        <img src="../../images/product-1.png" alt="product" class="image-contain" />
    </a>
    <a href="" class="card-product__title fz-primary mt-3">Телевизор Haier 43 Smart MX Телевизор Haier 43 Smart MX Телевизор Haier 43 Smart MX</a>
    <div class="mt-3 flex justify-between items-center">
        <div class="card-product--rating">
            {{> ../app-stars/stars }}
            <a href="" class="text-greyDark text-small mt-1 underline">3 отзыва</a>
        </div>
        <a href="" class="card-product--price text-large font-bold">82 690<span class="fz-text text-greyDark mr-1">₽</span></a>
    </div>
    <div class="card-product__actions flex justify-between items-center mt-4">
        <a href="" class="btn btn-gradient btn-pink-green">Купить</a>
        <div class="flex items-center">
            <a href="" class="btn btn-circle items-center justify-center mr-1">
                {{> ../_images/compare }}
            </a>
            <a href="" class="btn btn-circle items-center justify-center">
                {{> ../_images/like }}
            </a>
        </div>
    </div>
</div>