<a href="" class="card-catalog flex flex-col justify-center items-center w-full h-full">
    <span class="card-catalog__images flex items-end">
        {{#if ecco}}
            <img src="../../images/ecco.svg" alt="ecco" class="image-contain">
        {{/if}}
        {{#if reserved}}
            <img src="../../images/reserved.svg" alt="ecco" class="image-contain">
        {{/if}}
        {{#if cropp}}
            <img src="../../images/cropp.svg" alt="ecco" class="image-contain">
        {{/if}}
    </span>
    <span class="mt-3 fz-primary">{{title}}</span>
</a>