<div class="card-popular w-full pb-5">
    <a href class="card-popular__images w-full flex items-center justify-center">
        <div class="card-popular__image flex items-center justify-center">
            <img src="../../images/product-1.png" alt="product" class="image-contain" />
        </div>
        <span class="items-center justify-center flex-shrink text-pink font-bold">VS</span>
        <div class="card-popular__image flex items-center justify-center">
            <img src="../../images/product-1.png" alt="product" class="image-contain" />
        </div>

    </a>
    <a href="" class="block fz-primary mt-3">Двухкамерный холодильник Бирюса 6033 <span class="text-pink text-large font-bold">vs</span> Холодильник DON R-297 BE</a>
</div>