<div class="card-category relative">
    <a href="" class="card-category__images card-category__slider block relative h-[190px] md:h-[260px] js--card-slider">
        <img src="https://cdnvitrina.ru/uploads/product-images/348/geympad-xbox-360-provodnoy-chernyy-2426099347.jpg" alt="" class="object-contain m-auto w-full h-full active">
        <img src="https://cdnvitrina.ru/uploads/product-images/160/geympad-logitech-f710-serebristyychyornyy-940-000142-2392016078.jpg" alt="" class="object-contain m-auto w-full h-full">
        <span class="card-category__slider-navigatin">
            <label></label>
            <label></label>
        </span>
        {{#if card_discont}}
            <span class="absolute bottom-0 bg-pink px-1 py-[3px] text-xs text-white w-max rounded-[5px] font-bold left-[12px] bottom-[12px]">{{card_discont}}</span>
        {{/if}}
    </a>
    <div class="h-[calc(100%-190px)] md:h-[calc(100%-260px)] flex flex-col justify-between p-[5px]">
        <a href="" class="card-category__title mt-2 text-sm hover:underline">{{card_title}}
            {{> ../app-tooltip/tooltip2 }}
        </a>
        <div class="mt-1">            
            <div class="mt-1 mb-2 flex flex-col flex-sm-row justify-sm-between items-sm-center">
                {{> ../app-stars/stars }}
                <a href="" class="text-greyDark underline mt-1 mt-sm-0">3 отзыва</a>
            </div>
            <div class="flex items-center justify-between">
                <div class="flex flex-col-reverse sm:flex-row sm:items-center">
                    <p class="text-tiny font-semibold">{{card_price}} <span class="font-light text-grey50 ml-1 text-small">₽</span></p>
                    {{#if card_price_old}}
                        <p class="line-through text-grey50 sm:ml-1">{{card_price_old}}</p>
                    {{/if}}
                 </div>
                <div class="flex card-category__action">
                    <a href="" class="block">
                        {{> ../app-tooltip/tooltip-comparison }}
                    </a>
                    <a href="" class="block ml-9">
                        {{> ../app-tooltip/tooltip-like }}
                    </a>
                </div>
            </div>
            <p class="text-[11px] text-greyElem">От Lamoda</p>
        </div>
    </div>
</div>