<div class="flex flex-col md:flex-row justify-between md:items-center favorite-card w-full p-3">
    <div class="flex items-center">
        <a href="" class="favorite-card__image flex items-center">
            <img src="../../images/product-1.png" alt="product4" class="image-contain">
        </a>
        <a href="" class="fz-large ml-3 cursor-pointer hover:underline">Телевизор Sony KD-50X81J</a>
    </div>
    <div class="flex items-center ms:w-full justify-between mt-2 md:mt-0">
        <a href="" class="fz-primary font-bold">65 690 <span class="font-weight">₽</span> </a>
        <div class="flex items-center">
            <a href="" class="btn btn-gradient ml-3 flex items-center">Купить</a>
            <a href="" class="btn btn-circle items-center justify-center flex-shrink ml-3">
                {{> ../_images/del}}
            </a>
        </div>
    </div>
</div>