<div class="card-preview">
    <p class="text-greySecondary text-center line-through fz-text"> 76 990 <span>₽</span></p>
    <p class="text-center font-h2 font-bold"> 66 990 <span class="text-greyDark font-weight fz-primary">₽</span></p>
    <a href="" class="btn btn-gradient mt-4 btn-auto flex items-center svg-block">
        <span class="block mr-3">{{> ../_images/buy }}</span>
        Все предложения
    </a>
    <div class="flex justify-between mt-5 pt-4">
        <div class="flex items-center svg-block mr-4">
            {{> ../_images/compare }}
            <a href="" class="block ml-2 link-underline link-underline__hover-pink relative">Сравнить <span></span></a>
        </div>
        <div class="flex items-center svg-block">
            {{> ../_images/like-pink }}
            <a href="" class="block ml-2 link-underline link-underline__hover-pink relative">В избранное <span></span></a>
        </div>
    </div>
</div>
