<div class="card-compare w-full pb-5">
    <a href class="card-compare__images w-full flex items-center justify-center">
        <div class="card-compare__image flex items-center justify-center">
            <img src="{{card_image1}}" alt="product" class="image-contain" />
        </div>
        <span class="card-compare__vs fz-small flex items-center justify-center">Vs</span>
        <div class="card-compare__image flex items-center justify-center">
            <img src="{{card_image2}}" alt="product" class="image-contain" />
        </div>

    </a>
    <a href="" class="block text-primary mt-3 text-center">{{card_title1}} <span class="ml-1 mr-1">/</span>{{card_title2}}</a>
</div>