<div class="overlay-input input-search input-datalist flex items-center relative w-full">
    <div class="input-search__svg svg-block">
        {{> ../_images/search}}
    </div>
    <div class="relative js--input-datalist w-full">
        <input type="text" placeholder="Ваш город" id="custom-select-input2" class="select-css w-full">
        {{> ../_header/search-list}}
    </div>
</div>