<div class="overlay overlay-favorite flex items-center justify-center overflow-hidden w-full h-full">
    <div class="overlay-wrap overlay-wrap--large relative">
        <div class="flex items-center justify-between w-full">
            <p class="fz-large text-center">Избранное<span class="sub-title ml-1">3</span></p>
            <div class="overlay-close cursor-pointer svg-grey js--overlay-close">
                {{> ../_images/close}}
            </div>
        </div>
        <div class="overlay-wrap__content flex flex-col items-center mt-4">
            {{> ../app-card/card-favorites}}
            {{> ../app-card/card-favorites}}
            {{> ../app-card/card-favorites}}
            {{> ../app-card/card-favorites}}
            {{> ../app-card/card-favorites}}
            {{> ../app-card/card-favorites}}
            {{> ../app-card/card-favorites}}
            {{> ../app-card/card-favorites}}
            {{> ../app-card/card-favorites}}
            {{> ../app-card/card-favorites}}
            {{> ../app-card/card-favorites}}
            {{> ../app-card/card-favorites}}
        </div>
    </div>
</div>
