<div class="overlay overlay-qr flex items-center justify-center overflow-hidden w-full h-full">
    <div class="overlay-wrap relative">
        <div class="overlay-close overlay-close--absolute cursor-pointer svg-grey js--overlay-close">
            {{> ../_images/close}}
        </div>
        <div class="overlay-wrap__content flex flex-col items-center">
            <p class="fz-large text-center">Отсканируйте QR-код
                <span class="block"></span> для скачивания приложения</p>
            <img src="../../images/qr-large.png" alt="qr">
        </div>
    </div>
</div>
