<div class="app-trends app-trends-sg flex flex-wrap items-start">
    {{> trend trend_title="Женская верхняя одежда" }}
    {{> trend trend_title="Мужские джинсы Levis" }}
    {{> trend trend_title="Женская одежда Zara" }}
    {{> trend trend_title="Мужские футболки" }}
    {{> trend trend_title="Верхняя одежда" }}
    {{> trend trend_title="Женская одежда Zara" }}
    {{> trend trend_title="Мужские футболки" }}
    {{> trend trend_title="Женская верхняя одежда" }}
    {{> trend trend_title="Мужские джинсы Levis" }}
    <a href="" class="app-trends__link fz-text flex items-center justify-center underline text-greyDark mr-1">Показать все</a>
</div>