<div class="relative show-more js--show-more" data-show-start="135" data-show-start-mobile="85">
    <div class=" content-to-hide js--show-more--content">
        <div class="relative flex flex-wrap items-start px-[1px]">
            {{> trend2 trend_title="С вышивкой" }}
            {{> trend2 trend_title="Классические" }}
            {{> trend2 trend_title="На резинке" }}
            {{> trend2 trend_title="Узкие" }}
            {{> trend2 trend_title="Стрейч" }}
            {{> trend2 trend_title="Укороченные" }}
            {{> trend2 trend_title="На молнии" }}
            {{> trend2 trend_title="Легкие" }}
            {{> trend2 trend_title="На пуговицах" }}
            {{> trend2 trend_title="Стрейч" }}
            {{> trend2 trend_title="Облегающие" }}
            {{> trend2 trend_title="Хлопковые" }}
            {{> trend2 trend_title="Из денима" }}
            {{> trend2 trend_title="Из эластана" }}
            {{> trend2 trend_title="Прямые" }}
            {{> trend2 trend_title="С логотипом" }}
            {{> trend2 trend_title="С потертостями" }}
            {{> trend2 trend_title="Повседневные" }}
            {{> trend2 trend_title="Узкие" }}
            {{> trend2 trend_title="С вышивкой" }}
            {{> trend2 trend_title="Классические" }}
            {{> trend2 trend_title="На резинке" }}
            {{> trend2 trend_title="Узкие" }}
            {{> trend2 trend_title="Стрейч" }}
            {{> trend2 trend_title="Укороченные" }}
            {{> trend2 trend_title="На молнии" }}
            {{> trend2 trend_title="Легкие" }}
            {{> trend2 trend_title="На пуговицах" }}
            {{> trend2 trend_title="Стрейч" }}
            {{> trend2 trend_title="Облегающие" }}
            {{> trend2 trend_title="Хлопковые" }}
            {{> trend2 trend_title="Из денима" }}
            {{> trend2 trend_title="Из эластана" }}
            {{> trend2 trend_title="Прямые" }}
            {{> trend2 trend_title="С логотипом" }}
            {{> trend2 trend_title="С потертостями" }}
            {{> trend2 trend_title="Повседневные" }}
            {{> trend2 trend_title="Узкие" }}
        </div>
    </div>
    <p class="block text-sm underline mt-2 p-0 text-right show-more--btn js--show-more--btn" data-more-show="Показать все" data-more-hidden="Скрыть">Показать все</p>
</div>