<div class="app-trends flex flex-wrap items-start">
    {{> trend trend_title="Футболки Vans" }}
    {{> trend trend_title="Кроссовки Vans" }}
    {{> trend trend_title="Кроссовки Nike" }}
    {{> trend trend_title="Спортивная одежда" }}
    {{> trend trend_title="Футболки Vans" }}
    {{> trend trend_title="Кроссовки Vans" }}
    {{> trend trend_title="Кроссовки Nike" }}
    {{> trend trend_title="Спортивная одежда" }}
    {{> trend trend_title="Футболки Vans" }}
    {{> trend trend_title="Кроссовки Nike" }}
    {{> trend trend_title="Спортивная одежда" }}
    <a href="" class="app-trends__link fz-text items-center justify-center">Показать все</a>
</div>