<div class="app-trends flex flex-wrap items-start">
    {{> trend trend_title="Футболки Vans" }}
    {{> trend trend_title="Кроссовки Vans" }}
    {{> trend trend_title="Кроссовки Nike" }}
    {{> trend trend_title="Спортивная одежда" }}
    {{> trend trend_title="Футболки Vans" }}
    {{> trend trend_title="Кроссовки Vans" }}
    {{> trend trend_title="Кроссовки Nike" }}
    {{> trend trend_title="Спортивная одежда" }}
    {{> trend trend_title="Футболки Vans" }}
    {{> trend trend_title="Кроссовки Nike" }}
    {{> trend trend_title="Спортивная одежда" }}
    <a href="" class="app-trends__link fz-text flex items-center justify-center underline text-greyDark mr-1 mb-2">Показать все</a>
</div>