<div class="tooltip relative inline-block ml-[3px] svg-block cursor-pointer js--tooltip" data-tooltip-text="Классические фирменные джинсы Alessia Santi, зауженные, размер 32, синий, зауженные, размер 32, джинсы Alessia Santi (самовывоз, почта РФ, доставка курьером, логистической компанией)" data-tooltip-position="bottom" data-tooltip-theme="light">
    {{> ../_images/info }}
</div>
