<div class="app-tabs app-tabs__product w-full js--tabs">
    <div class="app-tabs__top flex items-center  relative w-full overflow-hidden js--swiper-tabs">
        <p class="active text-tiny sm:text-base text-center cursor-pointer mr-1 sm:mr-3 js--tabs-btn">
            О товаре
        </p>
        <p class="text-tiny sm:text-base text-center cursor-pointer mr-1 sm:mr-3 js--tabs-btn">
            О бренде
        </p>
        <p class="text-tiny sm:text-base text-center cursor-pointer mr-1 sm:mr-3 js--tabs-btn">
            Отзывы 6
        </p>
        <p class="text-tiny sm:text-base text-center cursor-pointer js--tabs-btn">
            Вопросы 0
        </p>
    </div>
    <div class="app-tabs__contents w-full mt-3 sm:mt-4">
        <div class="app-tabs__content js--tabs-content relative active ">
            <div class="show-more js--show-more" data-show-start="150" data-show-start-mobile="140">
            <div class="content-to-hide js--show-more--content">
            <div class="flex justify-between items-center w-full app-tabs__product-row">
                <p class="bg-white z-1 pr-2">Состав, %</p>
                <p class="bg-white z-1 pl-2 w-[40%]"> Хлопок - 79%, Лиоцелл - 20%, Эластан - 1%</p>
            </div>
            <div class="flex justify-between items-center w-full app-tabs__product-row mt-2">
                <p class="bg-white z-1 pr-2">Размер товара на модели</p>
                <p class="bg-white z-1 pl-2 w-[40%]">  27 JEANS</p>
            </div>
            <div class="flex justify-between items-center w-full app-tabs__product-row mt-2">
                <p class="bg-white z-1 pr-2">Параметры модели</p>
                <p class="bg-white z-1 pl-2 w-[40%]">85-62-89</p>
            </div>
            <div class="flex justify-between items-center w-full app-tabs__product-row mt-2">
                <p class="bg-white z-1 pr-2">Рост модели на фото</p>
                <p class="bg-white z-1 pl-2 w-[40%]">172 см</p>
            </div>
            <div class="flex justify-between items-center w-full app-tabs__product-row mt-2">
                <p class="bg-white z-1 pr-2">Высота</p>
                <p class="bg-white z-1 pl-2 w-[40%]">29 см</p>
            </div>
            <div class="flex justify-between items-center w-full app-tabs__product-row mt-2">
                <p class="bg-white z-1 pr-2">Длина по внутреннему шву (см)</p>
                <p class="bg-white z-1 pl-2 w-[40%]">78 см</p>
            </div>
            <div class="flex justify-between items-center w-full app-tabs__product-row mt-2">
                <p class="bg-white z-1 pr-2">Длина по боковому шву</p>
                <p class="bg-white z-1 pl-2 w-[40%]">109 см</p>
            </div>
            <div class="flex justify-between items-center w-full app-tabs__product-row mt-2">
                <p class="bg-white z-1 pr-2">Ширина по низу</p>
                <p class="bg-white z-1 pl-2 w-[40%]">21 см</p>
            </div>
            <div class="flex justify-between items-center w-full app-tabs__product-row mt-2">
                <p class="bg-white z-1 pr-2">Сезон</p>
                <p class="bg-white z-1 pl-2 w-[40%]">Мульти</p>
            </div>
            <div class="flex justify-between items-center w-full app-tabs__product-row mt-2">
                <p class="bg-white z-1 pr-2">Цвет</p>
                <p class="bg-white z-1 pl-2 w-[40%]">Черный</p>
            </div>
            <div class="flex justify-between items-center w-full app-tabs__product-row mt-2">
                <p class="bg-white z-1 pr-2">Узор</p>
                <p class="bg-white z-1 pl-2 w-[40%]">Однотонный</p>
            </div>
            <div class="flex justify-between items-center w-full app-tabs__product-row mt-2">
                <p class="bg-white z-1 pr-2">Талия</p>
                <p class="bg-white z-1 pl-2 w-[40%]">Высокая</p>
            </div>
            <div class="flex justify-between items-center w-full app-tabs__product-row mt-2">
                <p class="bg-white z-1 pr-2">Внешние карманы</p>
                <p class="bg-white z-1 pl-2 w-[40%]">5</p>
            </div>
            <div class="flex justify-between items-center w-full app-tabs__product-row mt-2">
                <p class="bg-white z-1 pr-2">Страна производства</p>
                <p class="bg-white z-1 pl-2 w-[40%]">Маврикий</p>
            </div>
            <div class="flex justify-between items-center w-full app-tabs__product-row mt-2">
                <p class="bg-white z-1 pr-2">Застежка</p>
                <p class="bg-white z-1 pl-2 w-[40%]">Молния</p>
            </div>
            <div class="flex justify-between items-center w-full app-tabs__product-row mt-2">
                <p class="bg-white z-1 pr-2">Артикул</p>
                <p class="bg-white z-1 pl-2 w-[40%]">RTLADB462101</p>
            </div>
            </div>
            <p class="block text-sm underline mt-2 p-0 text-right show-more--btn js--show-more--btn" data-more-show="Показать все" data-more-hidden="Скрыть">Показать все</p>
        </div>
        </div>
        <div class="app-tabs__content js--tabs-content relative">
            <p> Calvin Klein</p>
            <p>Calvin Klein - это современная американская классика. Обновленные, подлинные иконы стиля. Неподвластные времени женские силуэты обновлены для создания дерзких образов новых американских икон стиля. Прогрессивный крой переосмысливает традиционные элементы мужской одежды, представляя их как функциональные и легкие базовые вещи.</p>
        </div>
        <div class="app-tabs__content js--tabs-content relative">
            {{> ../app-photo/photo-reviews }}
            {{> ../app-reviews/reviews }}
            {{> ../app-reviews/reviews2 }}
            {{> ../app-reviews/reviews2 }}
            <a class="btn btn-transparent-pink btn-reviews mt-5" href="">Читать все отзывы </a>
        </div>
        <div class="app-tabs__content js--tabs-content relative">
           <p>Задайте вопрос, если хотите узнать дополнительную информацию о товаре.
               Если вас интересует, какой размер вам подойдёт, — воспользуйтесь таблицей размеров</p>
            <a href="" class="btn btn-primary block mt-3">Задать вопрос</a>
        </div>
    </div>
</div>