<div class="app-tabs w-full js--tabs ">
    <div class="app-tabs__top flex flex-col sm:flex-row items-center justify-center relative w-full overflow-hidden js--swiper-tabs">
        <p class="active text-tiny sm:text-base text-center cursor-pointer sm:mr-[60px] js--tabs-btn">
            Двухкамерный холодильник <span class="block"></span> Hiberg RFC-60DX NFX
        </p>
        <p class="text-tiny sm:text-base text-center cursor-pointer sm:ml-[60px] js--tabs-btn sm-max:mt-[16px]">
            Холодильник <span class="block"></span>Whirlpool W84TE 72 M
        </p>
    </div>
    <div class="app-tabs__contents w-full mt-[47px] sm:mt-[55px]">
        <div class="app-tabs__content js--tabs-content relative active">
            <div class="flex max-w-[407px]">
                <div class="flex flex-shrink mt-[3px]">
                    {{> ../_images/list}}
                </div>
                <p class="text-tiny sm:text-base ml-1 sm:ml-[19px]">Больше автономное сохранение холода на 1 ч
                    18 ч  <span class="font-semibold">VS</span>  17 ч</p>
            </div>
            <div class="flex max-w-[407px] mt-3">
                <div class="flex flex-shrink mt-[3px]">
                    {{> ../_images/list}}
                </div>
                <p class="text-tiny sm:text-base ml-1 sm:ml-[19px]">Больше мощность замораживания на 10 кг/сут
                    15 кг/сут  <span class="font-semibold">VS</span> 5 кг/сут</p>
            </div>
            <div class="flex max-w-[407px] mt-3">
                <div class="flex flex-shrink mt-[3px]">
                    {{> ../_images/list}}
                </div>
                <p class="text-tiny sm:text-base ml-1 sm:ml-[19px]">Больше общий объем на 130 л
                    465 л  <span class="font-semibold">VS</span>  335 л</p>
            </div>
            <a href="" class="ml-[18px] sm:ml-[39px] text-sm sm:text-tiny text-greyDark underline mt-4 block">Посмотреть более подробную информацию</a>

        </div>
        <div class="app-tabs__content js--tabs-content relative">
            <div class="flex max-w-[407px]">
                <div class="flex flex-shrink mt-[3px]">
                    {{> ../_images/list}}
                </div>
                <p class="text-tiny sm:text-base ml-1 sm:ml-[19px]">Больше автономное сохранение холода на 1 ч
                    18 ч  <span class="font-semibold">VS</span>  17 ч</p>
            </div>
            <div class="flex max-w-[407px] mt-3">
                <div class="flex flex-shrink mt-[3px]">
                    {{> ../_images/list}}
                </div>
                <p class="text-tiny sm:text-base ml-1 sm:ml-[19px]">Больше мощность замораживания на 10 кг/сут
                    15 кг/сут  <span class="font-semibold">VS</span> 5 кг/сут</p>
            </div>
            <div class="flex max-w-[407px] mt-3">
                <div class="flex flex-shrink mt-[3px]">
                    {{> ../_images/list}}
                </div>
                <p class="text-tiny sm:text-base ml-1 sm:ml-[19px]">Больше общий объем на 130 л
                    465 л  <span class="font-semibold">VS</span>  335 л</p>
            </div>
            <a href="" class="ml-[18px] sm:ml-[39px] text-sm sm:text-tiny text-greyDark underline mt-4 block">Посмотреть более подробную информацию</a>
        </div>
    </div>
</div>