<div class="slider-preview flex relative pt-3 sm:pt-5 pb-3 sm:pb-5">
        <div class="preview-swiper-small overflow-hidden ls:mr-4 hidden md:flex">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slider-preview__image flex items-center justify-center"><img class="img-responsive" src="../../images/product-1.png" alt="product" /></div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-preview__image flex items-center justify-center"><img class="img-responsive" src="../../images/qr.png" alt="product" /></div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-preview__image flex items-center justify-center"><img class="img-responsive" src="../../images/product-1.png" alt="product" /></div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-preview__image flex items-center justify-center"><img class="img-responsive" src="../../images/qr.png" alt="product" /></div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-preview__image flex items-center justify-center"><img class="img-responsive" src="../../images/product-1.png" alt="product" /></div>
                </div>
            </div>
        </div>
        <div class="slider-preview__navigation">
            <div class="swiper-button-prev">
                {{> ../_images/arr_slider}}
            </div>
            <div class="swiper-button-next">
                {{> ../_images/arr_slider}}
            </div>
        </div>
        <div class="preview-swiper ml-5 overflow-hidden">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slider-preview__image"><img class="img-responsive" src="../../images/product-1.png" alt="product" /></div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-preview__image"><img class="img-responsive" src="../../images/qr.png" alt="product" /></div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-preview__image"><img class="img-responsive" src="../../images/product-1.png" alt="product" /></div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-preview__image"><img class="img-responsive" src="../../images/qr.png" alt="product" /></div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-preview__image"><img class="img-responsive" src="../../images/product-1.png" alt="product" /></div>
                </div>
            </div>
        </div>
    </div>
