<div class="slider-reviews mt-5 flex flex-col mb:flex-row items-center mb:items-start">
    <div class="slider-reviews_images overflow-hidden">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slider-reviews_image"><img class="img-responsive" src="../../images/product-1.png" alt="reviews" /></div>
            </div>
            <div class="swiper-slide">
                <div class="slider-reviews_image"><img class="img-responsive" src="../../images/product-1.png" alt="reviews" /></div>
            </div>
            <div class="swiper-slide">
                <div class="slider-reviews_image"><img class="img-responsive" src="../../images/product-1.png" alt="reviews" /></div>
            </div>
            <div class="swiper-slide">
                <div class="slider-reviews_image"><img class="img-responsive" src="../../images/product-1.png" alt="reviews" /></div>
            </div>
            <div class="swiper-slide">
                <div class="slider-reviews_image"><img class="img-responsive" src="../../images/product-1.png" alt="reviews" /></div>
            </div>
        </div>
    </div>
    <div class="slider-reviews-preview flex flex-wrap mb:ml-6 mb:pl-4 mt-3 mb:mt-0">
        <div class="slider-reviews_image cursor-pointer justify-center items-center mb-1 mr-1 active"><img class="img-responsive" src="../../images/product-1.png" alt="reviews" /></div>
        <div class="slider-reviews_image cursor-pointer justify-center items-center mb-1 mr-1"><img class="img-responsive" src="../../images/product-1.png" alt="reviews" /></div>
        <div class="slider-reviews_image cursor-pointer justify-center items-center mb-1 mr-1"><img class="img-responsive" src="../../images/product-1.png" alt="reviews" /></div>
        <div class="slider-reviews_image cursor-pointer justify-center items-center mb-1 mr-1"><img class="img-responsive" src="../../images/product-1.png" alt="reviews" /></div>
        <div class="slider-reviews_image cursor-pointer justify-center items-center mb-1 mr-1"><img class="img-responsive" src="../../images/product-1.png" alt="reviews" /></div>
    </div>
</div>
