<div class="brand-sliders w-full">
    <div class="slider-basic__top flex items-center justify-between relative mb-3">
        <h3 class="mb:ml-3 flex flex-shrink">Бренды</h3>
        <div class="slider-basic__line w-100 hidden md:flex">&nbsp;</div>
        <div class="slider-basic__nav flex align-center relative ml-3">
            <div class="swiper-button-prev flex items-center justify-center relative cursor-pointer">{{> ../_images/arr_slider }}</div>
            <div class="swiper-button-next flex items-center justify-center relative cursor-pointer">{{> ../_images/arr_slider }}</div>
        </div>
    </div>

    <div class="brand-slider overflow-hidden lg:mr-4 flex">
        <div class="swiper-wrapper flex relative h-full">
            <div class="swiper-slide h-full">
                <div class="card-brand flex items-center justify-center h-full"><a href="" class="h-full flex items-center justify-center fz-primary text-center text-primary hover:underline">Телевизоры Philips</a></div>
            </div>
            <div class="swiper-slide">
                <div class="card-brand flex items-center justify-center h-full"><a href="" class="fz-primary text-center text-primary hover:underline">Духовые шкафы Zigmund & Shtain</a></div>
            </div>
            <div class="swiper-slide">
                <div class="card-brand flex items-center justify-center h-full"><a href="" class="fz-primary text-center text-primary hover:underline">Телевизоры Philips</a></div>
            </div>
            <div class="swiper-slide">
                <div class="card-brand flex items-center justify-center h-full"><a href="" class="fz-primary text-center text-primary hover:underline">Телевизоры Philips</a></div>
            </div>
            <div class="swiper-slide">
                <div class="card-brand flex items-center justify-center h-full"><a href="" class="fz-primary text-center text-primary hover:underline">Телевизоры Philips</a></div>
            </div>
            <div class="swiper-slide">
                <div class="card-brand flex items-center justify-center h-full"><a href="" class="fz-primary text-center text-primary hover:underline">Телевизоры Philips</a></div>
            </div>
            <div class="swiper-slide">
                <div class="card-brand flex items-center justify-center h-full"><a href="" class="fz-primary text-center text-primary hover:underline">Телевизоры Philips</a></div>
            </div>
            <div class="swiper-slide">
                <div class="card-brand flex items-center justify-center h-full"><a href="" class="fz-primary text-center text-primary hover:underline">Телевизоры Philips</a></div>
            </div>
            <div class="swiper-slide">
                <div class="card-brand flex items-center justify-center h-full"><a href="" class="fz-primary text-center text-primary hover:underline">Телевизоры Philips</a></div>
            </div>
            <div class="swiper-slide">
                <div class="card-brand flex items-center justify-center h-full"><a href="" class="fz-primary text-center text-primary hover:underline">Телевизоры Philips</a></div>
            </div>
            <div class="swiper-slide">
                <div class="card-brand flex items-center justify-center h-full"><a href="" class="fz-primary text-center text-primary hover:underline">Телевизоры Philips</a></div>
            </div>
            <div class="swiper-slide">
                <div class="card-brand flex items-center justify-center h-full"><a href="" class="fz-primary text-center text-primary hover:underline">Телевизоры Philips</a></div>
            </div>
            <div class="swiper-slide">
                <div class="card-brand flex items-center justify-center h-full"><a href="" class="fz-primary text-center text-primary hover:underline">Телевизоры Philips</a></div>
            </div>
            <div class="swiper-slide">
                <div class="card-brand flex items-center justify-center h-full"><a href="" class="fz-primary text-center text-primary hover:underline">Телевизоры Philips</a></div>
            </div>
        </div>
    </div>
</div>
