<div class="app-sliders__compare w-full js--swiper-compare-pagination" id="{{swiper_id}}">
    <p class="text-grey text-center text-sm sm:text-tiny mb-1">Популярные сравнения</p>
    <h3 class="flex shrink-0 text-center justify-center mb-5 pb-2">{{slider_title}}</h3>
    <div class="relative w-full">
        <div class="swiper-pagination w-full mt-4 mb-5 flex justify-center"></div>
        <div class="swiper-button-prev flex items-center justify-center relative cursor-pointer">{{> ../_images/arr_slider }}</div>
        <div class="swiper-button-next flex items-center justify-center relative cursor-pointer">{{> ../_images/arr_slider }}</div>

        <div class="swiper compare-slider overflow-hidden flex">
            <div class="swiper-wrapper">
                <div class="swiper-slide pt-1 pb-1">
                    {{> ../app-card/card-compare2
                            card_image1="../../images/cards/5.png"
                            card_image2="../../images/cards/7.png"
                            card_title1="Фен Philips C3-260"
                            card_title2="Фен Samsung NX125 "
                    }}
                </div>
                <div class="swiper-slide pt-1 pb-1">
                    {{> ../app-card/card-compare2
                            card_image1="../../images/cards/2.png"
                            card_image2="../../images/cards/2.png"
                            card_title1="Триммер Philips C3-260 "
                            card_title2="Триммер Philips NX125 "
                    }}
                </div>
                <div class="swiper-slide pt-1 pb-1">
                    {{> ../app-card/card-compare2
                            card_image1="../../images/cards/5.png"
                            card_image2="../../images/cards/7.png"
                            card_title1="Фен Philips C3-260"
                            card_title2="Фен Samsung NX125 "
                    }}
                </div>
                <div class="swiper-slide pt-1 pb-1">
                    {{> ../app-card/card-compare2
                            card_image1="../../images/cards/2.png"
                            card_image2="../../images/cards/2.png"
                            card_title1="Триммер Philips C3-260 "
                            card_title2="Триммер Philips NX125 "
                    }}
                </div>
                <div class="swiper-slide pt-1 pb-1">
                    {{> ../app-card/card-compare2
                            card_image1="../../images/cards/5.png"
                            card_image2="../../images/cards/7.png"
                            card_title1="Фен Philips C3-260"
                            card_title2="Фен Samsung NX125 "
                    }}
                </div>
            </div>
        </div>
    </div>
</div>
