<div class="breadcrumbs mt-5 sm:mt-6 pt-1 sm:pt-0 mb-1 sm:mb-2">
    <div class="container m-auto">
        <div class="breadcrumbs-wrap flex items-center"  dir="ltr">
            <a href="/" class="text-greyDark hover:underline">Главная</a>
            <span class="w-[4px] h-[4px] rounded-full bg-greyLight ml-8 mr-8 sm:ml-3 sm:mr-3"></span>
            <a href="/" class="text-greyDark hover:underline">{{title}}</a>
            <span class="w-[4px] h-[4px] rounded-full bg-greyLight ml-8 mr-8 sm:ml-3 sm:mr-3"></span>
            <a href="/" class="text-greyDark hover:underline">{{title2}}</a>
            <span class="w-[4px] h-[4px] rounded-full bg-greyLight ml-8 mr-8 sm:ml-3 sm:mr-3"></span>
            <a href="/" class="text-greyDark hover:underline">{{title3}}</a>
        </div>
    </div>
</div>
