<div class="app-accordion app-accordion__category js--accordion js--accordion-column w-full">
    <div class="app-accordion__row js--accordion-wrap open">
        <div class="app-accordion__title flex justify-between items-center js--accordion-button w-full">
            <p class="text-big flex items-center">
                <span class="svg-block mr-3 app-accordion__title-img">{{> ../_images/men }}</span>
                Для мужчин
            </p>
            <div class="svg-block cursor-pointer w-max app-accordion__arrow">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.00004 4.66714L1.33333 0.000488281L0 1.33382L6.00004 7.33389L12 1.33382L10.6667 0.000488281L6.00004 4.66714Z" fill="#363845"/>
                </svg>
            </div>
        </div>
        <div class="app-accordion__content js--accordion-content">
            {{> category-content }}
        </div>
    </div>
    <div class="app-accordion__row js--accordion-wrap mt-2">
        <div class="app-accordion__title flex justify-between items-center js--accordion-button w-full">
            <p class="text-big flex items-center">
                <span class="svg-block mr-3 app-accordion__title-img">{{> ../_images/women }}</span>
                Для женщин
            </p>
            <div class="svg-block cursor-pointer w-max app-accordion__arrow">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.00004 4.66714L1.33333 0.000488281L0 1.33382L6.00004 7.33389L12 1.33382L10.6667 0.000488281L6.00004 4.66714Z" fill="#363845"/>
                </svg>
            </div>
        </div>
        <div class="app-accordion__content js--accordion-content">
            {{> category-content }}
        </div>
    </div>
    <div class="app-accordion__row js--accordion-wrap mt-2">
        <div class="app-accordion__title flex justify-between items-center js--accordion-button w-full">
            <p class="text-big flex items-center">
                <span class="svg-block mr-3 app-accordion__title-img">{{> ../_images/children }}</span>
                Одежда для детей
            </p>
            <div class="svg-block cursor-pointer w-max app-accordion__arrow">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.00004 4.66714L1.33333 0.000488281L0 1.33382L6.00004 7.33389L12 1.33382L10.6667 0.000488281L6.00004 4.66714Z" fill="#363845"/>
                </svg>
            </div>
        </div>
        <div class="app-accordion__content js--accordion-content">
            {{> category-content }}
        </div>
    </div>
    <div class="app-accordion__row js--accordion-wrap mt-2">
        <div class="app-accordion__title flex justify-between items-center js--accordion-button w-full">
            <p class="text-big flex items-center">
                <span class="svg-block mr-3 app-accordion__title-img">{{> ../_images/appliances }}</span>
                Бытовая техника
            </p>
            <div class="svg-block cursor-pointer w-max app-accordion__arrow">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.00004 4.66714L1.33333 0.000488281L0 1.33382L6.00004 7.33389L12 1.33382L10.6667 0.000488281L6.00004 4.66714Z" fill="#363845"/>
                </svg>
            </div>
        </div>
        <div class="app-accordion__content js--accordion-content">
            {{> category-content }}
        </div>
    </div>
    <div class="app-accordion__row js--accordion-wrap mt-2">
        <div class="app-accordion__title flex justify-between items-center js--accordion-button w-full">
            <p class="text-big flex items-center">
                <span class="svg-block mr-3 app-accordion__title-img">{{> ../_images/auto }}</span>
                Автотовары
            </p>
            <div class="svg-block cursor-pointer w-max app-accordion__arrow">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.00004 4.66714L1.33333 0.000488281L0 1.33382L6.00004 7.33389L12 1.33382L10.6667 0.000488281L6.00004 4.66714Z" fill="#363845"/>
                </svg>
            </div>
        </div>
        <div class="app-accordion__content js--accordion-content">
            {{> category-content }}
        </div>
    </div>
    <div class="app-accordion__row js--accordion-wrap mt-2">
        <div class="app-accordion__title flex justify-between items-center js--accordion-button w-full">
            <p class="text-big flex items-center">
                <span class="svg-block mr-3 app-accordion__title-img">{{> ../_images/pet }}</span>
                Зоотовары
            </p>
            <div class="svg-block cursor-pointer w-max app-accordion__arrow">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.00004 4.66714L1.33333 0.000488281L0 1.33382L6.00004 7.33389L12 1.33382L10.6667 0.000488281L6.00004 4.66714Z" fill="#363845"/>
                </svg>
            </div>
        </div>
        <div class="app-accordion__content js--accordion-content">
            {{> category-content }}
        </div>
    </div>
    <div class="app-accordion__row js--accordion-wrap mt-2">
        <div class="app-accordion__title flex justify-between items-center js--accordion-button w-full">
            <p class="text-big flex items-center">
                <span class="svg-block mr-3 app-accordion__title-img">{{> ../_images/electronics }}</span>
                Электроника
            </p>
            <div class="svg-block cursor-pointer w-max app-accordion__arrow">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.00004 4.66714L1.33333 0.000488281L0 1.33382L6.00004 7.33389L12 1.33382L10.6667 0.000488281L6.00004 4.66714Z" fill="#363845"/>
                </svg>
            </div>
        </div>
        <div class="app-accordion__content js--accordion-content">
            {{> category-content }}
        </div>
    </div>
    <div class="app-accordion__row js--accordion-wrap mt-2">
        <div class="app-accordion__title flex justify-between items-center js--accordion-button w-full">
            <p class="text-big flex items-center">
                <span class="svg-block mr-3 app-accordion__title-img">{{> ../_images/repair }}</span>
                Строительство и ремонт
            </p>
            <div class="svg-block cursor-pointer w-max app-accordion__arrow">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.00004 4.66714L1.33333 0.000488281L0 1.33382L6.00004 7.33389L12 1.33382L10.6667 0.000488281L6.00004 4.66714Z" fill="#363845"/>
                </svg>
            </div>
        </div>
        <div class="app-accordion__content js--accordion-content">
            {{> category-content }}
        </div>
    </div>
    <div class="app-accordion__row js--accordion-wrap mt-2">
        <div class="app-accordion__title flex justify-between items-center js--accordion-button w-full">
            <p class="text-big flex items-center">
                <span class="svg-block mr-3 app-accordion__title-img">{{> ../_images/kid }}</span>
                Детские товары
            </p>
            <div class="svg-block cursor-pointer w-max app-accordion__arrow">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.00004 4.66714L1.33333 0.000488281L0 1.33382L6.00004 7.33389L12 1.33382L10.6667 0.000488281L6.00004 4.66714Z" fill="#363845"/>
                </svg>
            </div>
        </div>
        <div class="app-accordion__content js--accordion-content">
            {{> category-content }}
        </div>
    </div>
    <div class="app-accordion__row js--accordion-wrap mt-2">
        <div class="app-accordion__title flex justify-between items-center js--accordion-button w-full">
            <p class="text-big flex items-center">
                <span class="svg-block mr-3 app-accordion__title-img">{{> ../_images/home }}</span>
                Товары для дома
            </p>
            <div class="svg-block cursor-pointer w-max app-accordion__arrow">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.00004 4.66714L1.33333 0.000488281L0 1.33382L6.00004 7.33389L12 1.33382L10.6667 0.000488281L6.00004 4.66714Z" fill="#363845"/>
                </svg>
            </div>
        </div>
        <div class="app-accordion__content js--accordion-content">
            {{> category-content }}
        </div>
    </div>
    <div class="app-accordion__row js--accordion-wrap mt-2">
        <div class="app-accordion__title flex justify-between items-center js--accordion-button w-full">
            <p class="text-big flex items-center">
                <span class="svg-block mr-3 app-accordion__title-img">{{> ../_images/beauty }}</span>
                Красота и здоровье
            </p>
            <div class="svg-block cursor-pointer w-max app-accordion__arrow">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.00004 4.66714L1.33333 0.000488281L0 1.33382L6.00004 7.33389L12 1.33382L10.6667 0.000488281L6.00004 4.66714Z" fill="#363845"/>
                </svg>
            </div>
        </div>
        <div class="app-accordion__content js--accordion-content">
            {{> category-content }}
        </div>
    </div>
    <div class="app-accordion__row js--accordion-wrap mt-2">
        <div class="app-accordion__title flex justify-between items-center js--accordion-button w-full">
            <p class="text-big flex items-center">
                <span class="svg-block mr-3 app-accordion__title-img">{{> ../_images/sports }}</span>
                Спорт и отдых
            </p>
            <div class="svg-block cursor-pointer w-max app-accordion__arrow">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.00004 4.66714L1.33333 0.000488281L0 1.33382L6.00004 7.33389L12 1.33382L10.6667 0.000488281L6.00004 4.66714Z" fill="#363845"/>
                </svg>
            </div>
        </div>
        <div class="app-accordion__content js--accordion-content">
            {{> category-content }}
        </div>
    </div>
    <div class="app-accordion__row js--accordion-wrap mt-2">
        <div class="app-accordion__title flex justify-between items-center js--accordion-button w-full">
            <p class="text-big flex items-center">
                <span class="svg-block mr-3 app-accordion__title-img">{{> ../_images/books }}</span>
                Книги
            </p>
            <div class="svg-block cursor-pointer w-max app-accordion__arrow">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.00004 4.66714L1.33333 0.000488281L0 1.33382L6.00004 7.33389L12 1.33382L10.6667 0.000488281L6.00004 4.66714Z" fill="#363845"/>
                </svg>
            </div>
        </div>
        <div class="app-accordion__content js--accordion-content">
            {{> category-content }}
        </div>
    </div>
    <div class="app-accordion__row js--accordion-wrap mt-2">
        <div class="app-accordion__title flex justify-between items-center js--accordion-button w-full">
            <p class="text-big flex items-center">
                <span class="svg-block mr-3 app-accordion__title-img">{{> ../_images/computer }}</span>
                Компьютерная техника
            </p>
            <div class="svg-block cursor-pointer w-max app-accordion__arrow">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.00004 4.66714L1.33333 0.000488281L0 1.33382L6.00004 7.33389L12 1.33382L10.6667 0.000488281L6.00004 4.66714Z" fill="#363845"/>
                </svg>
            </div>
        </div>
        <div class="app-accordion__content js--accordion-content">
            {{> category-content }}
        </div>
    </div>
    <div class="app-accordion__row js--accordion-wrap mt-2">
        <div class="app-accordion__title flex justify-between items-center js--accordion-button w-full">
            <p class="text-big flex items-center">
                <span class="svg-block mr-3 app-accordion__title-img">{{> ../_images/products }}</span>
                Продукты
            </p>
            <div class="svg-block cursor-pointer w-max app-accordion__arrow">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.00004 4.66714L1.33333 0.000488281L0 1.33382L6.00004 7.33389L12 1.33382L10.6667 0.000488281L6.00004 4.66714Z" fill="#363845"/>
                </svg>
            </div>
        </div>
        <div class="app-accordion__content js--accordion-content">
            {{> category-content }}
        </div>
    </div>
</div>