<div class="header-banner mt-5">
    <div class="flex flex-col items-center md:items-start">
        <h1>Найди нужный товар</h1>
        <p class="mt-1">На Boxberry Market собраны предложения на 60 млн товаров из более чем 300+ магазинов</p>
        <div class="mt-4 md:mt-5 md:pt-2">
            <div class="header-input input-search input-datalist flex items-center relative w-full">
                <div class="input-search__svg svg-block">
                    {{> ../_images/search}}
                </div>
                <div class="relative js--input-datalist w-full">
                    <input type="text" placeholder="Поиск" id="custom-select-input" class="w-full">
                    {{> ../_header/search-list}}
                </div>
                <a href="" class="btn btn-primary flex items-center justify-center shrink-0">
                    <span class="svg-block mb:hidden">
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13 6.85718L1 6.85718" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.85714 1.71432L13 6.85718" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.85714 12L13 6.85714" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                    <span class="hidden mb:flex">Найти</span>
                </a>
            </div>
        </div>
    </div>
    <div class="header-banner__images">
        <picture class="w-full">
            <source media="(max-width: 575px)" srcset="../../images/header-banner-mob.png">
            <img src="../../images/header-banner.png" srcset="" alt="top" class="banner">
        </picture>
    </div>
</div>