<div class="header-input input-search input-datalist flex items-center relative js--search">
    <div class="input-search__svg">
        {{> ../_images/search }}
    </div>
    <input type="text" placeholder="Наушники эйр подс" id="custom-select-input" class="w-full">
    {{> search-list}}
</div>