<header class="header-main pt-3 w-full">
    <div class="container">
        <div class="flex flex-col sm:flex-row justify-between items-center h-full">
            <div class="header-top flex sm:flex-row-reverse items-center sm-max:w-full sm-max:justify-between">
                <div>
                    {{> ../app-catalog/catalog}}
                </div>
                <div class="hidden sm:flex items-center cursor-pointer lg:ml-6 md:ml-4 ml-3 lg:mr-6 md:mr-4 mr-3" data-show-modal="overlay-city">
                    {{> ../_images/location}}
                    <p class="header-location ml-1 sm:max-w-[70px] lg:max-w-[100px]">Москва (Московская область)</p>
                </div>
                <a href="/" class="header-logo block">
                    <img src="../../images/logo.png" alt="logo" class="image-contain block">
                </a>
                <div class="flex sm:hidden">
                    <div class="mr-3 cursor-pointer  flex flex-col items-center relative" data-show-modal="overlay-city">
                        {{> ../_images/location}}
                        <p class="header-location ml-1 max-w-[70px] absolute bottom-[-22px] text-xs">Москва (Московская область)</p>
                    </div>
                    {{> ../app-like/like }}
                </div>
            </div>
            <div class="header-bottom flex js--search mt-5 sm:mt-0 sm-max:w-full">
                {{> header-search}}
                <a href="" class="btn btn-green ml-2 h-full font-bold">Хочу!</a>
            </div>
            <div class="hidden sm:flex">
                {{> ../app-like/like }}
            </div>
        </div>

    </div>
</header>

{{> ../app-overlay/overlay-favorites}}
{{> ../app-overlay/overlay-city}}
