<div class="pagination pagination-sq flex w-full ">
    <div class="pagination-item text-tiny md:text-base mr-1 md:mr-2 active flex shrink-0 items-center justify-center">1</div>
    <div class="pagination-item text-tiny md:text-base mr-1 md:mr-2  flex flex shrink-0 items-center justify-center">2</div>
    <div class="pagination-item text-tiny md:text-base mr-1 md:mr-2  flex flex shrink-0 items-center justify-center">3</div>
    <div class="pagination-item text-tiny md:text-base mr-1 md:mr-2  flex flex shrink-0 items-center justify-center">4</div>
    <div class="pagination-item text-tiny md:text-base mr-1 md:mr-2 flex flex shrink-0 items-center justify-center">5</div>
    <div class="pagination-item text-tiny md:text-base mr-1 md:mr-2 flex flex shrink-0 items-center justify-center">6</div>
    <div class="pagination-item_arrow text-tiny md:text-base flex flex shrink-0 items-center justify-center cursor-pointer">
        {{> ../_images/arrow }}
    </div>
</div>