<div class="pagination flex w-full justify-center">
    <div class="pagination-item mr-2 active flex items-center justify-center">1</div>
    <div class="pagination-item mr-2  flex items-center justify-center">2</div>
    <div class="pagination-item mr-2  flex items-center justify-center">...</div>
    <div class="pagination-item  flex items-center justify-center">24</div>
</div>