<div class="table-offers">
    <div class="table-offers__row flex flex-col mb:flex-row mb:justify-between mb:-items-center">
        <div class="table-offers__title flex items-center">
            <a href="" class="table-offers__image"><img src="../../images/product-1.png" alt="product" class="image-contain" /></a>
            <a href="" class="fz-big ml-4">Технопарк</a>
        </div>
        <div class="product-list__price flex items-center justify-between mt-4 mt-mb-0 mb-max:w100">
            <a href="" class="fz-big font-bold">65 690<span class="ml-1">₽</span></a>
            <a href="" class="btn btn-gradient-green btn-text-large ml-3 md:ml-6">Купить</a>
        </div>
    </div>
    <div class="table-offers__row flex flex-col mb:flex-row mb:justify-between mb:-items-center">
        <div class="table-offers__title flex items-center">
            <a href="" class="table-offers__image"><img src="../../images/product-1.png" alt="product" class="image-contain" /></a>
            <a href="" class="fz-big ml-4">Технопарк</a>
        </div>
        <div class="product-list__price flex items-center justify-between mt-4 mt-mb-0 mb-max:w100">
            <a href="" class="fz-big font-bold">65 690<span class="ml-1">₽</span></a>
            <a href="" class="btn btn-gradient-green btn-text-large ml-3 md:ml-6">Купить</a>
        </div>
    </div>
    <div class="table-offers__row flex flex-col mb:flex-row mb:justify-between mb:-items-center">
        <div class="table-offers__title flex items-center">
            <a href="" class="table-offers__image"><img src="../../images/product-1.png" alt="product" class="image-contain" /></a>
            <a href="" class="fz-big ml-4">Технопарк</a>
        </div>
        <div class="product-list__price flex items-center justify-between mt-4 mt-mb-0 mb-max:w-full">
            <a href="" class="fz-big font-bold">65 690<span class="ml-1">₽</span></a>
            <a href="" class="btn btn-gradient-green btn-text-large ml-3 md:ml-6">Купить</a>
        </div>
    </div>
</div>