<div class="table-compare">
    <div class="flex w-full">
        <div class="table-compare-top bg-greyTiny sm-max:hidden"></div>
        <div class="table-compare-top bg-greyTiny p-3">
            <p class="text-greyDark text-xs sm:text-tiny sm-max:text-center">Двухкамерный холодильник Hiberg RFC-60DX NFX</p>
        </div>
        <div class="table-compare-top bg-greyTiny p-3">
            <p class="text-greyDark text-xs sm:text-tiny sm-max:text-center">Двухкамерный холодильник Hiberg RFC-60DX NFX</p>
        </div>
    </div>
    <div class="flex">
        <div class="table-compare-title sm:px-[50px] sm:py-3">
            <p class="text-lg sm:text-large sm-max:text-center sm-max:mt-[26px]">Основные характеристики</p>
        </div>
        <div class="table-compare-title sm-max:hidden"></div>
        <div class="table-compare-title sm-max:hidden"> </div>
    </div>
    <div class="flex flex-col sm:flex-row">
        <div class="table-compare-name sm:px-[50px] sm:py-3 sm-max:mt-[35px]">
            <p class="text-tiny sm-max:text-center">Тип управления</p>
        </div>
        <div class="table-compare-content flex sm-max:py-2">
            <div class="w-2/4 sm:px-[50px] sm:py-3">
                <p class="text-sm sm:text-tiny sm-max:text-center">Электронный</p>
            </div>
            <div class="w-2/4 sm:px-[50px] sm:py-3">
                <p class="text-sm sm:text-tiny sm-max:text-center">Электронный</p>
            </div>
        </div>
    </div>
    <div class="flex flex-col sm:flex-row">
        <div class="table-compare-name sm:px-[50px] sm:py-3 sm-max:mt-[35px]">
            <p class="text-tiny sm-max:text-center">Размораживание холодильной камеры</p>
        </div>
        <div class="table-compare-content flex sm-max:py-2">
            <div class="w-2/4 sm:px-[50px] sm:py-3">
                <p class="text-sm sm:text-tiny sm-max:text-center">No frost</p>
            </div>
            <div class="w-2/4 sm:px-[50px] sm:py-3">
                <p class="text-sm sm:text-tiny sm-max:text-center">Нет данных</p>
            </div>
        </div>
    </div>
    <div class="flex flex-col sm:flex-row">
        <div class="table-compare-name sm:px-[50px] sm:py-3 sm-max:mt-[35px]">
            <p class="text-tiny sm-max:text-center">Размораживание морозильной камеры</p>
        </div>
        <div class="table-compare-content flex sm-max:py-2">
            <div class="w-2/4 sm:px-[50px] sm:py-3">
                <p class="text-sm sm:text-tiny sm-max:text-center">No frost</p>
            </div>
            <div class="w-2/4 sm:px-[50px] sm:py-3">
                <p class="text-sm sm:text-tiny sm-max:text-center">Нет данных</p>
            </div>
        </div>
    </div>
    <div class="flex flex-col sm:flex-row">
        <div class="table-compare-name sm:px-[50px] sm:py-3 sm-max:mt-[35px]">
            <p class="text-tiny sm-max:text-center">Энергопотребление</p>
        </div>
        <div class="table-compare-content flex sm-max:py-2">
            <div class="w-2/4 sm:px-[50px] sm:py-3">
                <p class="text-sm sm:text-tiny sm-max:text-center">383 квтч/год</p>
            </div>
            <div class="w-2/4 sm:px-[50px] sm:py-3">
                <p class="text-sm sm:text-tiny sm-max:text-center choice">339 квтч/год
                    {{> ../_images/list }}
                </p>
            </div>
        </div>
    </div>
    <div class="flex flex-col sm:flex-row">
        <div class="table-compare-name sm:px-[50px] sm:py-3 sm-max:mt-[35px]">
            <p class="text-tiny sm-max:text-center">Уровень шума</p>
        </div>
        <div class="table-compare-content flex sm-max:py-2">
            <div class="w-2/4 sm:px-[50px] sm:py-3">
                <p class="text-sm sm:text-tiny sm-max:text-center">43 дб</p>
            </div>
            <div class="w-2/4 sm:px-[50px] sm:py-3">
                <p class="text-sm sm:text-tiny sm-max:text-center choice">43 дб
                    {{> ../_images/list }}
                </p>
            </div>
        </div>
    </div>
    <div class="flex">
        <div class="table-compare-title sm:px-[50px] sm:py-3">
            <p class="text-lg sm:text-large sm-max:text-center sm-max:mt-[26px]">Объем</p>
        </div>
        <div class="table-compare-title sm-max:hidden"></div>
        <div class="table-compare-title sm-max:hidden"> </div>
    </div>
    <div class="flex flex-col sm:flex-row">
        <div class="table-compare-name sm:px-[50px] sm:py-3 sm-max:mt-[35px]">
            <p class="text-tiny sm-max:text-center">Общий объем</p>
        </div>
        <div class="table-compare-content flex sm-max:py-2">
            <div class="w-2/4 sm:px-[50px] sm:py-3">
                <p class="text-sm sm:text-tiny sm-max:text-center choice">465 л {{> ../_images/list }}</p>
            </div>
            <div class="w-2/4 sm:px-[50px] sm:py-3">
                <p class="text-sm sm:text-tiny sm-max:text-center ">335 л</p>
            </div>
        </div>
    </div>
    <div class="flex flex-col sm:flex-row">
        <div class="table-compare-name sm:px-[50px] sm:py-3 sm-max:mt-[35px]">
            <p class="text-tiny sm-max:text-center">Объем холодильной камеры</p>
        </div>
        <div class="table-compare-content flex sm-max:py-2">
            <div class="w-2/4 sm:px-[50px] sm:py-3">
                <p class="text-sm sm:text-tiny sm-max:text-center choice">345 л {{> ../_images/list }}</p>
            </div>
            <div class="w-2/4 sm:px-[50px] sm:py-3">
                <p class="text-sm sm:text-tiny sm-max:text-center ">241 л</p>
            </div>
        </div>
    </div>
    <div class="flex flex-col sm:flex-row">
        <div class="table-compare-name sm:px-[50px] sm:py-3 sm-max:mt-[35px]">
            <p class="text-tiny sm-max:text-center">Объем морозильной камеры</p>
        </div>
        <div class="table-compare-content flex sm-max:py-2">
            <div class="w-2/4 sm:px-[50px] sm:py-3">
                <p class="text-sm sm:text-tiny sm-max:text-center choice">120 л {{> ../_images/list }}</p>
            </div>
            <div class="w-2/4 sm:px-[50px] sm:py-3">
                <p class="text-sm sm:text-tiny sm-max:text-center ">94 л</p>
            </div>
        </div>
    </div>
</div>