<div class="catalog-menu-detail ps-4 pt-2 pe-4 pb-2 flex flex-col flex-wrap">
    <a href="" class="catalog-menu-detail--title text-primary block text-pinkDark mb-1">Женская одежда</a>
    <a href="" class="block">Джинсы</a>
    <a href="" class="block">Футболки и поло</a>
    <a href="" class="block">Брюки</a>
    <a href="" class="block">Джемперы и кардиганы</a>
    <a href="" class="block">Пиджаки и костюмы</a>
    <a href="" class="block">Толстовки и свитшоты</a>
    <a href="" class="block">Олимпийки</a>
    <a href="" class="block">Рубашки</a>
    <a href="" class="block">Шорты</a>
    <a href="" class="block">Пляжная одежда</a>
    <a href="" class="block">Белье</a>
    <a href="" class="block">Жилеты</a>
    <a href="" class="block">Домашняя одежда</a>
    <a href="" class="block">Бриджи</a>
    <a href="" class="block">Жакеты</a>
    <a href="" class="block">Смокинги</a>
    <a href="" class="block">Капри</a>
    <a href="" class="block">Комплекты одежды</a>
    <a href="" class="block">Мужская одежда из кашемира</a>
    <a href="" class="block">Трикотаж</a>
    <a href="" class="catalog-menu-detail--title text-primary block text-pinkDark mt-1 lg:mt-3 mb-1">
        Женская верхняя одежда
    </a>
    <a href="" class="block">Джинсы</a>
    <a href="" class="block">Футболки и поло</a>
    <a href="" class="block">Брюки</a>
    <a href="" class="block">Джемперы и кардиганы</a>
    <a href="" class="block">Пиджаки и костюмы</a>
    <a href="" class="block">Толстовки и свитшоты</a>
    <a href="" class="block">Олимпийки</a>
    <a href="" class="block">Рубашки</a>
    <a href="" class="block">Шорты</a>
    <a href="" class="catalog-menu-detail--title text-primary block text-pinkDark mt-1 lg:mt-3 mb-1">
        Женская одежда больших размеров
    </a>
    <a href="" class="block">Джинсы</a>
    <a href="" class="block">Футболки и поло</a>
    <a href="" class="block">Брюки</a>
    <a href="" class="block">Джемперы и кардиганы</a>
    <a href="" class="block">Пиджаки и костюмы</a>
    <a href="" class="block">Толстовки и свитшоты</a>
    <a href="" class="block">Олимпийки</a>
    <a href="" class="block">Рубашки</a>
    <a href="" class="block">Шорты</a>
    <a href="" class="block">Мужская одежда из кашемира</a>
    <a href="" class="block">Трикотаж</a>
    <a href="" class="catalog-menu-detail--title text-primary block text-pinkDark mt-1 lg:mt-3 mb-1">
        Женские аксессуары
    </a>
    <a href="" class="block">Джинсы</a>
    <a href="" class="block">Футболки и поло</a>
    <a href="" class="block">Брюки</a>
    <a href="" class="block">Джемперы и кардиганы</a>
    <a href="" class="block">Пиджаки и костюмы</a>
    <a href="" class="block">Толстовки и свитшоты</a>
    <a href="" class="block">Олимпийки</a>
    <a href="" class="block">Рубашки</a>
    <a href="" class="block">Шорты</a>
    <a href="" class="block">Мужская одежда из кашемира</a>
    <a href="" class="block">Трикотаж</a>
    <a href="" class="block">Рубашки</a>
    <a href="" class="block">Шорты</a>
    <a href="" class="block">Мужская одежда из кашемира</a>
    <a href="" class="block">Трикотаж</a>
    <a href="" class="block">Шорты</a>
    <a href="" class="block">Мужская одежда из кашемира</a>
    <a href="" class="block">Трикотаж</a>
    <a href="" class="block">Шорты</a>
    <a href="" class="block">Мужская одежда из кашемира</a>
    <a href="" class="block">Трикотаж</a>
    <a href="" class="catalog-menu-detail--title text-primary block text-pinkDark mt-1 lg:mt-3 mb-1">
        Женская спортивная одежда
    </a>
    <a href="" class="block">Джинсы</a>
    <a href="" class="block">Футболки и поло</a>
    <a href="" class="block">Брюки</a>
    <a href="" class="block">Джемперы и кардиганы</a>
    <a href="" class="block">Пиджаки и костюмы</a>
    <a href="" class="block">Толстовки и свитшоты</a>
    <a href="" class="block">Олимпийки</a>
    <a href="" class="block">Рубашки</a>
    <a href="" class="block">Шорты</a>
    <a href="" class="block">Мужская одежда из кашемира</a>
    <a href="" class="block">Трикотаж</a>
    <a href="" class="catalog-menu-detail--title text-primary block text-pinkDark mt-1 lg:mt-3 mb-1">
        Женская обувь
    </a>
    <a href="" class="block">Джинсы</a>
    <a href="" class="block">Футболки и поло</a>
    <a href="" class="block">Брюки</a>
    <a href="" class="block">Джемперы и кардиганы</a>
    <a href="" class="block">Пиджаки и костюмы</a>
    <a href="" class="block">Толстовки и свитшоты</a>
    <a href="" class="block">Олимпийки</a>
    <a href="" class="block">Рубашки</a>
    <a href="" class="block">Шорты</a>
    <a href="" class="block">Мужская одежда из кашемира</a>
    <a href="" class="block">Трикотаж</a>
</div>