<button class="btn btn-primary h-full font-bold flex items-center justify-center js--catalog-btn shrink-0">
    <div class="sm:mr-1">
        {{> ../burger/menu }}
    </div>
    <span class="sm:ml-1 hidden sm:flex">Каталог</span>
</button>