<div class="catalog-menu js--catalog-menu flex">
    <div class="catalog-menu--wrap md-max:w-full">
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> catalog-item
                    title="Для мужчин"
                    image="../../images/menu/man.svg"
                    active=true
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-mhidden">
                {{> catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> catalog-item
                        title="Для женщин"
                        image="../../images/menu/women.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-mhidden">
                {{> catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> catalog-item
                        title="Одежда для детей"
                        image="../../images/menu/children.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-mhidden">
                {{> catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> catalog-item
                        title="Бытовая техника"
                        image="../../images/menu/appliances.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-mhidden">
                {{> catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> catalog-item
                        title="Компьютерная техника"
                        image="../../images/menu/computer.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-mhidden">
                {{> catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> catalog-item
                        title="Электроника"
                        image="../../images/menu/electronics.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-mhidden">
                {{> catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> catalog-item
                        title="Товары для дома"
                        image="../../images/menu/home.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-mhidden">
                {{> catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> catalog-item
                        title="Детские товары"
                        image="../../images/menu/kid.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-mhidden">
                {{> catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> catalog-item
                        title="Автотовары"
                        image="../../images/menu/auto.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-mhidden">
                {{> catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> catalog-item
                        title="Зоотовары"
                        image="../../images/menu/pet.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-mhidden">
                {{> catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> catalog-item
                        title="Строительство и ремонт"
                        image="../../images/menu/repair.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-mhidden">
                {{> catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> catalog-item
                        title="Красота и здоровье"
                        image="../../images/menu/beauty.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-mhidden">
                {{> catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> catalog-item
                        title="Спорт и отдых"
                        image="../../images/menu/sports.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-mhidden">
                {{> catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> catalog-item
                        title="Книги"
                        image="../../images/menu/books.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-mhidden">
                {{> catalog-modile}}
            </div>
        </div>
        <div class="catalog-menu__mobile js--openMobileMenu">
            <div class="js--openMobileMenu-item">
                {{> catalog-item
                        title="Продукты"
                        image="../../images/menu/products.svg"
                }}
            </div>
            <div class="catalog-menu__mobile-content js--openMobileMenu-content d-mhidden">
                {{> catalog-modile}}
            </div>
        </div>
    </div>
    <div class="hidden md:flex">
        <div class="flex js--catalog-menu-detail">
            {{> catalog-menu-detail}}
        </div>
        <div class="hidden js--catalog-menu-detail">
            {{> catalog-menu-detail2}}
        </div>
        <div class="hidden js--catalog-menu-detail">
            {{> catalog-menu-detail}}
        </div>
        <div class="hidden js--catalog-menu-detail">
            {{> catalog-menu-detail2}}
        </div>
        <div class="hidden js--catalog-menu-detail">
            {{> catalog-menu-detail}}
        </div>
        <div class="hidden js--catalog-menu-detail">
            {{> catalog-menu-detail2}}
        </div>
        <div class="hidden js--catalog-menu-detail">
            {{> catalog-menu-detail}}
        </div>
        <div class="hidden js--catalog-menu-detail">
            {{> catalog-menu-detail2}}
        </div>
        <div class="hidden js--catalog-menu-detail">
            {{> catalog-menu-detail}}
        </div>
        <div class="hidden js--catalog-menu-detail">
            {{> catalog-menu-detail2}}
        </div>
        <div class="hidden js--catalog-menu-detail">
            {{> catalog-menu-detail}}
        </div>
        <div class="hidden js--catalog-menu-detail">
            {{> catalog-menu-detail2}}
        </div>
        <div class="hidden js--catalog-menu-detail">
            {{> catalog-menu-detail}}
        </div>
        <div class="hidden js--catalog-menu-detail">
            {{> catalog-menu-detail2}}
        </div>
    </div>
</div>