<ul class="catalog-menu-detail pl-4 pt-2 pr-4 pb-2 ">
    <li><a href="" class="catalog-menu-detail--title fz-primary block text-pinkDark mb-1">Мужская одежда</a></li>
    <li><a href="" class="block">Джинсы</a></li>
    <li><a href="" class="block">Футболки и поло</a></li>
    <li><a href="" class="block">Брюки</a></li>
    <li><a href="" class="block">Джемперы и кардиганы</a></li>
    <li><a href="" class="block">Пиджаки и костюмы</a></li>
    <li><a href="" class="block">Толстовки и свитшоты</a></li>
    <li><a href="" class="block">Олимпийки</a></li>
    <li><a href="" class="block">Рубашки</a></li>
    <li><a href="" class="block">Шорты</a></li>
    <li><a href="" class="block">Пляжная одежда</a></li>
    <li><a href="" class="block">Белье</a></li>
    <li><a href="" class="block">Жилеты</a></li>
    <li><a href="" class="block">Домашняя одежда</a></li>
    <li><a href="" class="block">Бриджи</a></li>
    <li><a href="" class="block">Жакеты</a></li>
    <li><a href="" class="block">Смокинги</a></li>
    <li><a href="" class="block">Капри</a></li>
    <li><a href="" class="block">Комплекты одежды</a></li>
    <li><a href="" class="block">Мужская одежда из кашемира</a></li>
    <li><a href="" class="block">Трикотаж</a></li>
    <li><a href="" class="catalog-menu-detail--title fz-primary block text-pinkDark mt-1 lg:mt-3 mb-1">
        Мужская верхняя одежда
    </a></li>
    <li><a href="" class="block">Джинсы</a></li>
    <li><a href="" class="block">Футболки и поло</a></li>
    <li><a href="" class="block">Брюки</a></li>
    <li><a href="" class="block">Джемперы и кардиганы</a></li>
    <li><a href="" class="block">Пиджаки и костюмы</a></li>
    <li><a href="" class="block">Толстовки и свитшоты</a></li>
    <li><a href="" class="block">Олимпийки</a></li>
    <li><a href="" class="block">Рубашки</a></li>
    <li><a href="" class="block">Шорты</a></li>
    <li><a href="" class="catalog-menu-detail--title fz-primary block text-pinkDark mt-1 lg:mt-3 mb-1">
        Мужская одежда больших размеров
    </a></li>
    <li><a href="" class="block">Джинсы</a></li>
    <li><a href="" class="block">Футболки и поло</a></li>
    <li><a href="" class="block">Брюки</a></li>
    <li><a href="" class="block">Джемперы и кардиганы</a></li>
    <li><a href="" class="block">Пиджаки и костюмы</a></li>
    <li><a href="" class="block">Толстовки и свитшоты</a></li>
    <li><a href="" class="block">Олимпийки</a></li>
    <li><a href="" class="block">Рубашки</a></li>
    <li><a href="" class="block">Шорты</a></li>
    <li><a href="" class="block">Мужская одежда из кашемира</a></li>
    <li><a href="" class="block">Трикотаж</a></li>
    <li><a href="" class="catalog-menu-detail--title fz-primary block text-pinkDark mt-1 lg:mt-3 mb-1">
        Мужские аксессуары
    </a></li>
    <li><a href="" class="block">Джинсы</a></li>
    <li><a href="" class="block">Футболки и поло</a></li>
    <li><a href="" class="block">Брюки</a></li>
    <li><a href="" class="block">Джемперы и кардиганы</a></li>
    <li><a href="" class="block">Пиджаки и костюмы</a></li>
    <li><a href="" class="block">Толстовки и свитшоты</a></li>
    <li><a href="" class="block">Олимпийки</a></li>
    <li><a href="" class="block">Рубашки</a></li>
    <li><a href="" class="block">Шорты</a></li>
    <li><a href="" class="block">Мужская одежда из кашемира</a></li>
    <li><a href="" class="block">Трикотаж</a></li>
    <li><a href="" class="block">Рубашки</a></li>
    <li><a href="" class="block">Шорты</a></li>
    <li><a href="" class="block">Мужская одежда из кашемира</a></li>
    <li><a href="" class="block">Трикотаж</a></li>
    <li><a href="" class="block">Шорты</a></li>
    <li><a href="" class="block">Мужская одежда из кашемира</a></li>
    <li><a href="" class="block">Трикотаж</a></li>
    <li><a href="" class="block">Шорты</a></li>
    <li><a href="" class="block">Мужская одежда из кашемира</a></li>
    <li><a href="" class="block">Трикотаж</a></li>
    <li><a href="" class="catalog-menu-detail--title fz-primary block text-pinkDark mt-1 lg:mt-3 mb-1">
        Мужская спортивная одежда
    </a></li>
    <li><a href="" class="block">Джинсы</a></li>
    <li><a href="" class="block">Футболки и поло</a></li>
    <li><a href="" class="block">Брюки</a></li>
    <li><a href="" class="block">Джемперы и кардиганы</a></li>
    <li><a href="" class="block">Пиджаки и костюмы</a></li>
    <li><a href="" class="block">Толстовки и свитшоты</a></li>
    <li><a href="" class="block">Олимпийки</a></li>
    <li><a href="" class="block">Рубашки</a></li>
    <li><a href="" class="block">Шорты</a></li>
    <li><a href="" class="block">Мужская одежда из кашемира</a></li>
    <li><a href="" class="block">Трикотаж</a></li>
    <li><a href="" class="catalog-menu-detail--title fz-primary block text-pinkDark mt-1 lg:mt-3 mb-1">
        Мужская обувь
    </a></li>
    <li><a href="" class="block">Джинсы</a></li>
    <li><a href="" class="block">Футболки и поло</a></li>
    <li><a href="" class="block">Брюки</a></li>
    <li><a href="" class="block">Джемперы и кардиганы</a></li>
    <li><a href="" class="block">Пиджаки и костюмы</a></li>
    <li><a href="" class="block">Толстовки и свитшоты</a></li>
    <li><a href="" class="block">Олимпийки</a></li>
    <li><a href="" class="block">Рубашки</a></li>
    <li><a href="" class="block">Шорты</a></li>
    <li><a href="" class="block">Мужская одежда из кашемира</a></li>
    <li><a href="" class="block">Трикотаж</a></li>
    <li><a href="" class="catalog-menu-detail--title fz-primary block text-pinkDark mb-1">Мужская одежда</a></li>
    <li><a href="" class="block">Джинсы</a></li>
    <li><a href="" class="block">Футболки и поло</a></li>
    <li><a href="" class="block">Брюки</a></li>
    <li><a href="" class="block">Джемперы и кардиганы</a></li>
    <li><a href="" class="block">Пиджаки и костюмы</a></li>
    <li><a href="" class="block">Толстовки и свитшоты</a></li>
    <li><a href="" class="block">Олимпийки</a></li>
    <li><a href="" class="block">Рубашки</a></li>
    <li><a href="" class="block">Шорты</a></li>
    <li><a href="" class="block">Пляжная одежда</a></li>
    <li><a href="" class="block">Белье</a></li>
    <li><a href="" class="block">Жилеты</a></li>
    <li><a href="" class="block">Домашняя одежда</a></li>
    <li><a href="" class="block">Бриджи</a></li>
    <li><a href="" class="block">Жакеты</a></li>
    <li><a href="" class="block">Смокинги</a></li>
    <li><a href="" class="block">Капри</a></li>
    <li><a href="" class="block">Комплекты одежды</a></li>
    <li><a href="" class="block">Мужская одежда из кашемира</a></li>
    <li><a href="" class="block">Трикотаж</a></li>
    <li><a href="" class="catalog-menu-detail--title fz-primary block text-pinkDark mt-1 lg:mt-3 mb-1">
        Мужская верхняя одежда
    </a></li>
    <li><a href="" class="block">Джинсы</a></li>
    <li><a href="" class="block">Футболки и поло</a></li>
    <li><a href="" class="block">Брюки</a></li>
    <li><a href="" class="block">Джемперы и кардиганы</a></li>
    <li><a href="" class="block">Пиджаки и костюмы</a></li>
    <li><a href="" class="block">Толстовки и свитшоты</a></li>
    <li><a href="" class="block">Олимпийки</a></li>
    <li><a href="" class="block">Рубашки</a></li>
    <li><a href="" class="block">Шорты</a></li>
    <li><a href="" class="catalog-menu-detail--title fz-primary block text-pinkDark mt-1 lg:mt-3 mb-1">
        Мужская одежда больших размеров
    </a></li>
    <li><a href="" class="block">Джинсы</a></li>
    <li><a href="" class="block">Футболки и поло</a></li>
    <li><a href="" class="block">Брюки</a></li>
    <li><a href="" class="block">Джемперы и кардиганы</a></li>
    <li><a href="" class="block">Пиджаки и костюмы</a></li>
    <li><a href="" class="block">Толстовки и свитшоты</a></li>
    <li><a href="" class="block">Олимпийки</a></li>
    <li><a href="" class="block">Рубашки</a></li>
    <li><a href="" class="block">Шорты</a></li>
    <li><a href="" class="block">Мужская одежда из кашемира</a></li>
    <li><a href="" class="block">Трикотаж</a></li>
    <li><a href="" class="catalog-menu-detail--title fz-primary block text-pinkDark mt-1 lg:mt-3 mb-1">
        Мужские аксессуары
    </a></li>
    <li><a href="" class="block">Джинсы</a></li>
    <li><a href="" class="block">Футболки и поло</a></li>
    <li><a href="" class="block">Брюки</a></li>
    <li><a href="" class="block">Джемперы и кардиганы</a></li>
    <li><a href="" class="block">Пиджаки и костюмы</a></li>
    <li><a href="" class="block">Толстовки и свитшоты</a></li>
    <li><a href="" class="block">Олимпийки</a></li>
    <li><a href="" class="block">Рубашки</a></li>
    <li><a href="" class="block">Шорты</a></li>
    <li><a href="" class="block">Мужская одежда из кашемира</a></li>
    <li><a href="" class="block">Трикотаж</a></li>
    <li><a href="" class="block">Рубашки</a></li>
    <li><a href="" class="block">Шорты</a></li>
    <li><a href="" class="block">Мужская одежда из кашемира</a></li>
    <li><a href="" class="block">Трикотаж</a></li>
    <li><a href="" class="block">Шорты</a></li>
    <li><a href="" class="block">Мужская одежда из кашемира</a></li>
    <li><a href="" class="block">Трикотаж</a></li>
    <li><a href="" class="block">Шорты</a></li>
    <li><a href="" class="block">Мужская одежда из кашемира</a></li>
    <li><a href="" class="block">Трикотаж</a></li>
    <li><a href="" class="catalog-menu-detail--title fz-primary block text-pinkDark mt-1 lg:mt-3 mb-1">
        Мужская спортивная одежда
    </a></li>
    <li><a href="" class="block">Джинсы</a></li>
    <li><a href="" class="block">Футболки и поло</a></li>
    <li><a href="" class="block">Брюки</a></li>
    <li><a href="" class="block">Джемперы и кардиганы</a></li>
    <li><a href="" class="block">Пиджаки и костюмы</a></li>
    <li><a href="" class="block">Толстовки и свитшоты</a></li>
    <li><a href="" class="block">Олимпийки</a></li>
    <li><a href="" class="block">Рубашки</a></li>
    <li><a href="" class="block">Шорты</a></li>
    <li><a href="" class="block">Мужская одежда из кашемира</a></li>
    <li><a href="" class="block">Трикотаж</a></li>
    <li><a href="" class="catalog-menu-detail--title fz-primary block text-pinkDark mt-1 lg:mt-3 mb-1">
        Мужская обувь
    </a></li>
    <li><a href="" class="block">Джинсы</a></li>
    <li><a href="" class="block">Футболки и поло</a></li>
    <li><a href="" class="block">Брюки</a></li>
    <li><a href="" class="block">Джемперы и кардиганы</a></li>
    <li><a href="" class="block">Пиджаки и костюмы</a></li>
    <li><a href="" class="block">Толстовки и свитшоты</a></li>
    <li><a href="" class="block">Олимпийки</a></li>
    <li><a href="" class="block">Рубашки</a></li>
    <li><a href="" class="block">Шорты</a></li>
    <li><a href="" class="block">Мужская одежда из кашемира</a></li>
    <li><a href="" class="block">Трикотаж</a></li>
</ul>