<div class="pb-2">
    <a href="" class="catalog-menu__modile-item-sub w-full block pl-3 pr-3 pt-1">
        Джинсы
    </a>
    <a href="" class="catalog-menu__modile-item-sub w-full block pl-3 pr-3 pt-1">
        Футболки и поло
    </a>
    <a href="" class="catalog-menu__modile-item-sub w-full block pl-3 pr-3 pt-1">
        Брюки
    </a>
    <a href="" class="catalog-menu__modile-item-sub w-full block pl-3 pr-3 pt-1">
        Джемперы и кардиганы
    </a>
    <a href="" class="catalog-menu__modile-item-sub w-full block pl-3 pr-3 pt-1">
        Пиджаки и костюмы
    </a>
    <a href="" class="catalog-menu__modile-item-sub w-full block pl-3 pr-3 pt-1">
        Толстовки и свитшоты
    </a>
    <a href="" class="catalog-menu__modile-item-sub w-full block pl-3 pr-3 pt-1">
        Олимпийки
    </a>
    <a href="" class="catalog-menu__modile-item-sub w-full block pl-3 pr-3 pt-1">
        Рубашки
    </a>
    <a href="" class="catalog-menu__modile-item-sub w-full block pl-3 pr-3 pt-1">
        Шорты
    </a>
    <a href="" class="catalog-menu__modile-item-sub w-full block pl-3 pr-3 pt-1">
        Пляжная одежда
    </a>
    <a href="" class="catalog-menu__modile-item-sub w-full block pl-3 pr-3 pt-1">
        Белье
    </a>
    <a href="" class="catalog-menu__modile-item-sub w-full block pl-3 pr-3 pt-1">
        Жилеты
    </a>
    <a href="" class="catalog-menu__modile-item-sub w-full block pl-3 pr-3 pt-1">
        Домашняя одежда
    </a>
    <a href="" class="catalog-menu__modile-item-sub w-full block pl-3 pr-3 pt-1">
        Бриджи
    </a>
    <a href="" class="catalog-menu__modile-item-sub w-full block pl-3 pr-3 pt-1">
        Жакеты
    </a>
    <a href="" class="catalog-menu__modile-item-sub w-full block pl-3 pr-3 pt-1">
        Смокинги
    </a>
    <a href="" class="catalog-menu__modile-item-sub w-full block pl-3 pr-3 pt-1">
        Капри
    </a>
    <a href="" class="catalog-menu__modile-item-sub w-full block pl-3 pr-3 pt-1">
        Комплекты одежды
    </a>
    <a href="" class="catalog-menu__modile-item-sub w-full block pl-3 pr-3 pt-1">
        Мужская одежда из кашемира
    </a>
    <a href="" class="catalog-menu__modile-item-sub w-full block pl-3 pr-3 pt-1">
        Трикотаж
    </a>
</div>