<div class="catalog-menu__item flex justify-between md:justify-start md:items-center pt-1 pb-1 pl-4 md:pl-3 md:pr-3 {{#if active}}active{{/if}}">
    <div class="flex items-center">
        <img src={{image}} class="mr-3" alt="catalog-image">
        <p>{{title}}</p>
    </div>
    <div class="flex items-center md:hidden mr-3 md:mr-0">
       {{> ../_images/arrow}}
    </div>
</div>