<div class="js--openSubMenu catalog-menu__modile-item">
    <div class="w-full block p-3 js--openSubMenu-btn">
        <div class="flex items-center">
            <img src="../../images/menu/plus.svg" alt="plus" class="mr-1 js--openSubMenu-plus">
            <img src="../../images/menu/minus.svg" alt="plus" class="mr-1 hidden js--openSubMenu-minus">
            <p>{{title}}</p>
        </div>
    </div>
    <div class="catalog-menu__modile-sub js--openSubMenu-content">
        {{> catalog-modile-sub}}
    </div>
</div>