<div class="catalog-menu__modile mt-1 mb-2">
    {{> catalog-modile--item
        title="Мужская одежда"
    }}
    {{> catalog-modile--item
            title="Мужская верхняя одежда"
    }}
    {{> catalog-modile--item
            title="Мужская одежда больших размеров"
    }}
    {{> catalog-modile--item
            title="Мужские аксессуары"
    }}
    {{> catalog-modile--item
            title="Мужская спортивная одежда"
    }}
    {{> catalog-modile--item
            title="Мужская обувь"
    }}
</div>