<div class="cloe-fixed js--fixed-cloe">
    <div class="container">
        <div class="flex items-center justify-center md:justify-between">
            <div class="hidden md:flex md:flex-col">
                <p class="fz-big">Электрический духовой шкаф Midea MO95000STGB, черный</p>
                <a href="#_characteristic" class="underline text-greyDark mt-1" data-scroll-margin="80">Характеристики</a>
            </div>
            <div class="flex items-center">
                <a href="" class="btn btn-gradient btn-auto flex items-center svg-block">
                    <span class="block mr-3">{{> ../_images/buy }}</span>
                    Все предложения
                </a>
                <a href="" class="btn btn-circle flex items-center justify-center ml-2 md:ml-3">
                    {{> ../_images/like }}
                </a>
            </div>
        </div>
    </div>
</div>