<div class="burger flex flex-col justify-between js--burger" aria-label="menu">
    <span class="burger__line"></span>
    <span class="burger__line"></span>
    <span class="burger__line"></span>
</div>