{{> partials/_structure/head
        title="Категории"
        keywords="Каталог интернет-магазинов"
        description="Каталог интернет-магазинов"
}}

{{> partials/_header/header}}
    <main class="pages-content">
        {{> partials/app-breadcrumbs/breadcrumbs title= 'Категории' }}
        <div class="container">
            <div class="grid grid-cols-2 md:grid-cols-4 gap-x-4 gap-y-6 mt-4 md:mt-6">
                <a href="" class="categories-card w-full text-center flex flex-col items-center">
                    {{> partials/_images/men }}
                    <span class="text-tiny md:text-base font-bold mt-4 inline-block">Для мужчин</span>
                </a>
                <a href="" class="categories-card w-full text-center flex flex-col items-center">
                    {{> partials/_images/women }}
                    <span class="text-tiny md:text-base font-bold mt-4 inline-block">Для женщин</span>
                </a>
                <a href="" class="categories-card w-full text-center flex flex-col items-center">
                    {{> partials/_images/children }}
                    <span class="text-tiny md:text-base font-bold mt-4 inline-block">Одежда для детей</span>
                </a>
                <a href="" class="categories-card w-full text-center flex flex-col items-center">
                    {{> partials/_images/appliances }}
                    <span class="text-tiny md:text-base font-bold mt-4 inline-block">Бытовая техника</span>
                </a>
                <a href="" class="categories-card w-full text-center flex flex-col items-center">
                    {{> partials/_images/computer }}
                    <span class="text-tiny md:text-base font-bold mt-4 inline-block">Компьютерная техника</span>
                </a>
                <a href="" class="categories-card w-full text-center flex flex-col items-center">
                    {{> partials/_images/electronics }}
                    <span class="text-tiny md:text-base font-bold mt-4 inline-block">Электроника</span>
                </a>
                <a href="" class="categories-card w-full text-center flex flex-col items-center">
                    {{> partials/_images/electronics }}
                    <span class="text-tiny md:text-base font-bold mt-4 inline-block">Электроника</span>
                </a>
                <a href="" class="categories-card w-full text-center flex flex-col items-center">
                    {{> partials/_images/home }}
                    <span class="text-tiny md:text-base font-bold mt-4 inline-block">Товары для дома</span>
                </a>
                <a href="" class="categories-card w-full text-center flex flex-col items-center">
                    {{> partials/_images/kid }}
                    <span class="text-tiny md:text-base font-bold mt-4 inline-block">Детские товары</span>
                </a>
                <a href="" class="categories-card w-full text-center flex flex-col items-center">
                    {{> partials/_images/auto }}
                    <span class="text-tiny md:text-base font-bold mt-4 inline-block">Автотовары</span>
                </a>
                <a href="" class="categories-card w-full text-center flex flex-col items-center">
                    {{> partials/_images/pet }}
                    <span class="text-tiny md:text-base font-bold mt-4 inline-block">Зоотовары</span>
                </a>
                <a href="" class="categories-card w-full text-center flex flex-col items-center">
                    {{> partials/_images/repair }}
                    <span class="text-tiny md:text-base font-bold mt-4 inline-block">Строительство и ремонт</span>
                </a>
                <a href="" class="categories-card w-full text-center flex flex-col items-center">
                    {{> partials/_images/beauty }}
                    <span class="text-tiny md:text-base font-bold mt-4 inline-block">Красота и здоровье</span>
                </a>
                <a href="" class="categories-card w-full text-center flex flex-col items-center">
                    {{> partials/_images/sports }}
                    <span class="text-tiny md:text-base font-bold mt-4 inline-block">Спорт и отдых</span>
                </a>
                <a href="" class="categories-card w-full text-center flex flex-col items-center">
                    {{> partials/_images/books }}
                    <span class="text-tiny md:text-base font-bold mt-4 inline-block">Книги</span>
                </a>
                <a href="" class="categories-card w-full text-center flex flex-col items-center">
                    {{> partials/_images/products }}
                    <span class="text-tiny md:text-base font-bold mt-4 inline-block">Продукты</span>
                </a>
            </div>
        </div>
      </main>
    {{> partials/_footer/footer}}
  </body>
</html>
