{{> partials/_structure/head
        title="Каталог интернет-магазинов"
        keywords="Каталог интернет-магазинов"
        description="Каталог интернет-магазинов"
}}

{{> partials/_header/header}}
    <main>
        {{> partials/app-breadcrumbs/breadcrumbs title= 'Для женщин' title2 = 'Женская одежда' title3 = 'Женские джинсы' }}
        <div class="container">
            <div class="mt-[25px] md:mt-[57px]">
                {{> partials/app-trends/trends3}}
            </div>
            <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between w-full mt-[34px] md:mt-[55px]">
                <h1>Женские джинсы</h1>
                <div class="flex mt-[19px] sm:mt-0">
                    <div class="filter-mobile md:hidden flex items-center mr-9 bg-grey4 border border-solid border-grey100 rounded-[10px] py-1 px-[14px] cursor-pointer js--filter-mobile-btn">
                        {{> partials/_images/filter}}
                        <p class="ml-[10px]"> Фильтры</p>
                    </div>
                    {{> partials/select/select}}
                </div>

            </div>
            <div class="flex items-start mt-[19px] md:mt-[71px]">
                <div class="filters-mobile md:block js--filter-mobile">
                    {{> partials/sidebar/catalog-sidebar}}
                </div>

                <div class="">
                    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-x-4 lg:gap-x-[68px] gap-y-[55px] md:gap-y-[68px] w-full">
                        {{> partials/app-card/card-category card_title = "Джинсы зауженные Alessia Santi, размер 32, синий" card_discont = "-20%" card_price_old = "15 050 ₽" card_price="13 280" }}
                        {{> partials/app-card/card-category card_title = "Джинсы клеш Emma&Gaia, размер 27, голубой" card_price="15 280" }}
                        {{> partials/app-card/card-category card_title = "Прямые джинсы Tess
с необработанным краем" card_discont = "-25%" card_price_old = "15 050 ₽" card_price="14 280" }}
                        {{> partials/app-card/card-category card_title = "Джинсы зауженные Alessia Santi, размер 32, синий" card_price="13 280" }}
                        {{> partials/app-card/card-category card_title = "Джинсы клеш Emma&Gaia, размер 27, голубой" card_price="15 280" }}
                        {{> partials/app-card/card-category card_title = "Джинсы зауженные Alessia Santi, размер 32, синий" card_discont = "-20%" card_price_old = "15 050 ₽" card_price="13 280" }}
                        {{> partials/app-card/card-category card_title = "Прямые джинсы Tess
с необработанным краем" card_price="15 280" }}
                        {{> partials/app-card/card-category card_title = "Джинсы зауженные Alessia Santi, размер 32, синий" card_discont = "-25%" card_price_old = "15 050 ₽" card_price="14 280" }}
                        {{> partials/app-card/card-category card_title = "Джинсы зауженные Alessia Santi, размер 32, синий" card_discont = "-20%" card_price_old = "15 050 ₽" card_price="13 280" }}
                        {{> partials/app-card/card-category card_title = "Джинсы зауженные Alessia Santi, размер 32, синий" card_discont = "-20%" card_price_old = "15 050 ₽" card_price="13 280" }}
                        {{> partials/app-card/card-category card_title = "Прямые джинсы Tess
с необработанным краем" card_price="15 280" }}
                        {{> partials/app-card/card-category card_title = "Джинсы зауженные Alessia Santi, размер 32, синий" card_discont = "-25%" card_price_old = "15 050 ₽" card_price="14 280" }}
                        {{> partials/app-card/card-category card_title = "Джинсы зауженные Alessia Santi, размер 32, синий" card_discont = "-20%" card_price_old = "15 050 ₽" card_price="13 280" }}
                        {{> partials/app-card/card-category card_title = "Джинсы клеш Emma&Gaia, размер 27, голубой" card_price="15 280" }}
                        {{> partials/app-card/card-category card_title = "Прямые джинсы Tess
с необработанным краем" card_discont = "-25%" card_price_old = "15 050 ₽" card_price="14 280" }}
                        {{> partials/app-card/card-category card_title = "Джинсы зауженные Alessia Santi, размер 32, синий" card_price="13 280" }}
                        {{> partials/app-card/card-category card_title = "Джинсы зауженные Alessia Santi, размер 32, синий" card_discont = "-20%" card_price_old = "15 050 ₽" card_price="13 280" }}
                        {{> partials/app-card/card-category card_title = "Джинсы клеш Emma&Gaia, размер 27, голубой" card_price="15 280" }}
                        {{> partials/app-card/card-category card_title = "Прямые джинсы Tess
с необработанным краем" card_discont = "-25%" card_price_old = "15 050 ₽" card_price="14 280" }}
                        {{> partials/app-card/card-category card_title = "Джинсы зауженные Alessia Santi, размер 32, синий" card_price="13 280" }}


                </div>
                    <div class="mt-[55px] md:mt-[100px]">
                        {{> partials/app-pagination/pagination-sq}}
                    </div>
                    <div class="mt-[51px] md:mt-[91px]">
                        <p>⭐ Купить Женские джинсы по выгодным ценам от 99 до 185500 рублей. ✅ Выбирайте среди товаров с максимальной скидкой 90 %. 🛍️ 113896 товаров в наличии от лучших интернет-магазинов Москвы и России. Сравните цены, фото и отзывы покупателей, чтобы сделать правильный выбор. Магазины-партнеры предоставляют удобные способы оплаты и быструю доставку. Найдите выгодные предложения и низкие цены в каталоге товаров Boxberry.⭐ Купить Женские джинсы по выгодным ценам от 99 до 185500 рублей. ✅ Выбирайте среди товаров с максимальной скидкой 90 %. 🛍️ 113896 товаров в наличии от лучших интернет-магазинов Москвы и России. Сравните цены, фото и отзывы покупателей, чтобы сделать правильный выбор. Магазины-партнеры предоставляют удобные способы оплаты и быструю доставку. Найдите выгодные предложения и низкие цены в каталоге товаров Boxberry.</p>
                    </div>
                    <div class="mt-[32px] md:mt-[43px] flex flex-wrap -mx-[5px]">
                        {{> partials/tag/tag tag_text="Джинсовые кюлоты"}}
                        {{> partials/tag/tag tag_text="Клеш с разрезом"}}
                        {{> partials/tag/tag tag_text="С металлом металлик"}}
                    </div>
                </div>
            </div>
        </div>
      </main>
    {{> partials/_footer/footer}}
  </body>
</html>
