{{> partials/_structure/head
        title="Доставка и возврат товара"
        keywords="Каталог интернет-магазинов"
        description="Каталог интернет-магазинов"
}}

{{> partials/_header/header}}
    <main class="pages-content">
        {{> partials/app-breadcrumbs/breadcrumbs title= 'доставка и возврат товара: условия, сроки и стоимость' }}
        <div class="container">
            <h1 class="uppercase">Доставка и возврат товара</h1>
            <p>Boxberry Market - это каталог, который объединяет информацию о товарах от крупнейших интернет-магазинов России. Сайт помогает покупателям сделать правильный выбор товара, сравнить цены и узнать где заказать товары онлайн. Благодаря сотрудничеству с большим количеством магазинов-партнеров, Boxberry Market предоставляет пользователям огромный выбор актуальных предложений на любой вкус и кошелек.</p>

            <h2>Условия доставки</h2>
            <p> Условия и сроки доставки для каждого магазина-партнера могут отличаться. Для получения полной информации о способах доставки, необходимо перейти на сайт интернет-магазина и ознакомиться с соответствующим разделом "Доставка". Информацию можно также получить через электронную почту или обратится к службе поддержки магазина.</p>

            <h2>Стоимость доставки</h2>
            <p> Большинство интернет-магазинов, размещенных на Boxberry Market, предоставляют бесплатную доставку по всей территории РФ. Некоторые магазины предоставляют доставку на платной основе, в зависимости от общей суммы заказа и адреса доставки.</p>

            <h2>Сроки доставки</h2>
            <p>Ориентировочные сроки доставки из магазинов России:</p>
            <ol class="ul-number pt-2 pb-3">
                <li>Москва и Санкт-Петербург: 1-3 дня</li>
                <li>Другие крупные города и областные центры России: 1-10 дней</li>
                <li>Отдаленные города и населенные пункты: 1-14 дней</li>
            </ol>
            <p>Сроки доставки рассчитываются с момента подтверждения заказа сотрудниками сайта-партнера.</p>
        </div>
      </main>
    {{> partials/_footer/footer}}
  </body>
</html>
