{{> partials/_structure/head
        title="Главная"
        keywords="Главная"
        description="Главная"
}}

{{> partials/_header/header-main}}
<div class="container">
    {{> partials/_header/header-main-search}}
</div>
    <main>
        <div class="container">
            <div class="mt-6">
                {{> partials/app-sliders/slider-basic swiper_id="swiper_slider_1" slider_title="Новые товары для мужчин"}}
            </div>
            <div class="mt-6 md:pt-6">
                {{> partials/app-sliders/slider-basic swiper_id="swiper_slider_2" slider_title="Новые товары для женщин" slider_women=true}}
            </div>
            <div class="mt-6 md:pt-6">
                {{> partials/app-sliders/slider-compare swiper_id="swiper_slider_3" slider_title="Популярные сравнения"}}
            </div>
            <div class="mt-6 md:pt-6">
                {{> partials/app-sliders/slider-basic swiper_id="swiper_slider_4" slider_title="Новые товары для мужчин"}}
            </div>
            <div class="mt-6 md:pt-6">
                {{> partials/app-sliders/slider-basic swiper_id="swiper_slider_5" slider_title="Новые товары для женщин" slider_women=true}}
            </div>

            <div class="mt-6 md:pt-6">
                <h2>Тренды этой недели</h2>
                <div class="mt-5">
                    {{> partials/app-trends/trends }}
                </div>
            </div>

            <div class="mt-6 md:pt-6">
                {{> partials/app-sliders/slider-basic swiper_id="swiper_slider_4" slider_title="Новые товары для мужчин"}}
            </div>
            <div class="mt-6 md:pt-6">
                {{> partials/app-sliders/slider-basic swiper_id="swiper_slider_5" slider_title="Новые товары для женщин" slider_women=true}}
            </div>

            <div class="mt-6 md:pt-6">
                <h2>Популярные бренды</h2>
                <div class="mt-3 mt-md-5">
                    {{> partials/app-brand/brands }}
                </div>
            </div>

            <div class="mt-6 md:pt-6">
                <h2>Популярные категории</h2>
                <div class="mt-5">
                    {{> partials/app-trends/trends2 }}
                </div>
            </div>

            <div class="mt-6 md:pt-6">
                <h2>Все категории</h2>
                <div class="mt-5">
                    {{> partials/app-category/category }}
                </div>
            </div>
            
            <div class="mt-6 md:pt-6">
                <h2>Популярные теги</h2>
                <div class="md:pt-2 flex flex-wrap">
                    <div class="mt-2 ms:mt-3 mr-2 md:mr-3">
                        <a href="" class="fz-primary text-greyDark">Мужская одежда</a>
                    </div>
                    <div class="mt-2 ms:mt-3 mr-2 md:mr-3">
                        <a href="" class="fz-primary text-greyDark">Джинсы</a>
                    </div>
                    <div class="mt-2 ms:mt-3 mr-2 md:mr-3">
                        <a href="" class="fz-primary text-greyDark">Футболки и поло</a>
                    </div>
                    <div class="mt-2 ms:mt-3 mr-2 md:mr-3">
                        <a href="" class="fz-primary text-greyDark">Поло</a>
                    </div>
                    <div class="mt-2 ms:mt-3 mr-2 md:mr-3">
                        <a href="" class="fz-primary text-greyDark">Мужская одежда</a>
                    </div>
                    <div class="mt-2 ms:mt-3 mr-2 md:mr-3">
                        <a href="" class="fz-primary text-greyDark">Джинсы</a>
                    </div>
                    <div class="mt-2 ms:mt-3 mr-2 md:mr-3">
                        <a href="" class="fz-primary text-greyDark">Футболки и поло</a>
                    </div>
                    <div class="mt-2 ms:mt-3 mr-2 md:mr-3">
                        <a href="" class="fz-primary text-greyDark">Поло</a>
                    </div>
                    <div class="mt-2 ms:mt-3 mr-2 md:mr-3">
                        <a href="" class="fz-primary text-greyDark">Мужская одежда</a>
                    </div>
                    <div class="mt-2 ms:mt-3 mr-2 md:mr-3">
                        <a href="" class="fz-primary text-greyDark">Джинсы</a>
                    </div>
                    <div class="mt-2 ms:mt-3 mr-2 md:mr-3">
                        <a href="" class="fz-primary text-greyDark">Футболки и поло</a>
                    </div>
                    <div class="mt-2 ms:mt-3 mr-2 md:mr-3">
                        <a href="" class="fz-primary text-greyDark">Поло</a>
                    </div>
                    <div class="mt-2 ms:mt-3 mr-2 md:mr-3">
                        <a href="" class="fz-primary text-greyDark">Мужская одежда</a>
                    </div>
                    <div class="mt-2 ms:mt-3 mr-2 md:mr-3">
                        <a href="" class="fz-primary text-greyDark">Джинсы</a>
                    </div>
                    <div class="mt-2 ms:mt-3 mr-2 md:mr-3">
                        <a href="" class="fz-primary text-greyDark">Футболки и поло</a>
                    </div>
                    <div class="mt-2 ms:mt-3 mr-2 md:mr-3">
                        <a href="" class="fz-primary text-greyDark">Поло</a>
                    </div>
                    <div class="mt-2 ms:mt-3 mr-2 md:mr-3">
                        <a href="" class="link-grey">Показать все</a>
                    </div>
                </div>
            </div>
        </div>
      </main>
    {{> partials/_footer/footer}}
  </body>
</html>
