{{> partials/_structure/head
        title="Как сделать заказ"
        keywords="Каталог интернет-магазинов"
        description="Каталог интернет-магазинов"
}}

{{> partials/_header/header}}
    <main class="pages-content">
        {{> partials/app-breadcrumbs/breadcrumbs title= 'Как сделать заказ' }}
        <div class="container">
            <h1 class="uppercase">Как сделать заказ</h1>
            <p>Boxberry Market - это удобный сервис, который позволяет быстро найти и сравнить товары в десятках проверенных интернет-магазинов. Оформить заказ на выбранный товар можно только на сайте магазина-партнера.</p>

            <p>Чтобы перейти на сайт магазина-партнера, у которого вы хотите заказать товар, есть два варианта: нажать на фото товара в списке или на кнопку "Купить/Перейти в магазин" на странице товара.</p>

            <p>Стоит учитывать, что условия и сроки доставки указаны на сайтах интернет-магазинов, с которыми мы сотрудничаем. Также, если товара нет в наличии или отсутствует нужный размер, мы не можем узнать, когда он появится, так как это зависит от внутренних процессов магазинов.</p>

            <p>Порядок оформления заказа на разных сайтах может отличаться. Оплата товара производится по правилам выбранного интернет-магазина.</p>

            <p>Boxberry Market делает шопинг комфортнее, выгоднее и проще благодаря удобной системе фильтров на нашем сайте. Найдите нужный товар и перейдите на сайт магазина-партнера, чтобы оформить заказ и получить его в удобное для вас время и место.</p>

        </div>
      </main>
    {{> partials/_footer/footer}}
  </body>
</html>
