{{> partials/_structure/head
        title="Контакты"
        keywords="Каталог интернет-магазинов"
        description="Каталог интернет-магазинов"
}}

{{> partials/_header/header}}
    <main class="pages-content">
        {{> partials/app-breadcrumbs/breadcrumbs title= 'Контакты' }}
        <div class="container">
            <h1>Участие в закрытом тестировании</h1>
            <p>На данный момент мы размещаем магазины с активной партнерской программой в рекламной сети GdeSlon. О том, что такое партнерская программа можно ознакомиться тут. Если вы еще не подключены к партнёрской программе, мы рекомендуем вам ознакомиться с информацией, размещенной здесь, и, если вы согласны с условиями, создать учетную запись рекламодателя. Если у вас уже есть активная партнерская программа, то мы скорее всего уже работаем над вашим размещением в каталоге. Чтобы уточнить статус вашего размещения, свяжитесь с нами через форму обратной связи и укажите название и домен вашего магазина.</p>

            <p> Мы предлагаем принять участие в бесплатном тестовом размещении в каталоге по модели СРС (Cost-Per-Click) на 2 недели. Для участия необходимо пройти короткое (около 30 минут) интервью с менеджером проекта. Чтобы записаться на интервью заполните форму ниже:</p>
        </div>
      </main>
    {{> partials/_footer/footer}}
  </body>
</html>
