<div class="app-models flex flex-col sm:flex-row gap-[12px]">
  <div class="models-wrap bg-greyBg flex flex-col p-[12px] w-fill sm:w-[25%] h-max">
    <a href="" class="font-bold">Models title</a>
    <div class="pl-[8px] flex flex-col">
      <a href="" class="underline mt-1">Models 1</a>
      <a href="" class="underline mt-1">Models 2</a>
      <a href="" class="underline mt-1">Models 3</a>
      <a href="" class="underline mt-1">Models 4</a>
    </div>
  </div>
  <div class="models-wrap bg-greyBg flex flex-col p-[12px] w-fill sm:w-[25%] h-max">
    <a href="" class="font-bold">Models title 2</a>
    <div class="pl-[8px] flex flex-col">
      <a href="" class="underline mt-1">Models 1</a>
      <a href="" class="underline mt-1">Models 2</a>
      <a href="" class="underline mt-1">Models 3</a>
      <a href="" class="underline mt-1">Models 4</a>
      <a href="" class="underline mt-1">Models 5</a>
      <a href="" class="underline mt-1">Models 6</a>
    </div>
  </div>
  <div class="models-wrap bg-greyBg flex flex-col p-[12px] w-fill sm:w-[25%] h-max">
    <a href="" class="font-bold">Models title 2</a>
    <div class="pl-[8px] flex flex-col">
      <a href="" class="underline mt-1">Models 1</a>
      <a href="" class="underline mt-1">Models 2</a>
    </div>
  </div>
  <div class="w-fill sm:w-[25%] h-max">
    <div class="models-wrap bg-greyBg flex flex-col p-[12px] w-fill">
      <a href="" class="font-bold">Models title 2</a>
      <div class="pl-[8px] flex flex-col">
        <a href="" class="underline mt-1">Models 1</a>
        <a href="" class="underline mt-1">Models 2</a>
        <a href="" class="underline mt-1">Models 3</a>
        <a href="" class="underline mt-1">Models 4</a>
      </div>
    </div>
    <a href="" class="w-full btn btn-gradient block mt-5">View models by UGG overview</a>
  </div>
</div>